body {
    font-family: 'Montserrat';
    color: $color-secondary;
    background-color: $color-primary;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}