@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
/* Шрифти з макету */
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"), url("../fonts/montserrat-v25-latin-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"), url("../fonts/montserrat-v25-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff"), url("../fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "FilmP3";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/src/fonts/FilmP3Bold.woff2") format("woff2"), url("/src/fonts/FilmP3Bold.woff") format("woff");
}
body {
  font-family: "Montserrat";
  color: #000;
  background-color: #fff;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.footer {
  background-color: #0E0C07;
  color: #F3C653;
  justify-content: space-between;
  padding: 40px 30px 40px 59px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 80px 122px 80px 154px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 80px 186px 80px 216px;
  }
}
.footer__container {
  display: flex;
}
.footer__logo {
  display: block;
  font-family: "FilmP3", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  margin-bottom: 60px;
  margin-top: 60px;
  margin-right: 85px;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-size: 64px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 163px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-right: 231px;
    margin-bottom: 35px;
  }
}
.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.footer__item {
  margin-bottom: 16px;
}
.footer__social {
  display: flex;
  margin-top: 17px;
}
@media screen and (min-width: 1024px) {
  .footer__social {
    margin-top: 0;
    display: block;
  }
}
.footer__social__link {
  padding: 10px 12px;
}
.footer__social--item:not(:last-child) {
  margin-right: 23px;
}
@media screen and (min-width: 1024px) {
  .footer__social--item {
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    padding: 10px 12px;
    width: 144px;
  }
  .footer__social--item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__box {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__list {
    margin-right: 140px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list {
    margin-right: 200px;
  }
}

.sm-text {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 1024px) {
  .sm-text {
    display: block;
  }
}

.section {
  background-color: inherit;
}
@media (min-width: 1024px) {
  .section {
    padding: 0px 32px;
  }
}
@media (min-width: 1280px) {
  .section {
    padding: 0px 60px;
  }
}
.section__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  font-size: 36px;
  margin-bottom: 8px;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid 2px tomato;
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.container-room-for-two {
  padding-top: 32px;
  padding-bottom: 32px;
}

.room-for-two {
  background-color: #FFFDEE;
}

.description {
  list-style: none;
  padding-left: 0;
}
.description__subtitle {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 8px;
  color: #B4B4B4;
}
.description__logo {
  font-family: FilmP3, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #494848;
  text-transform: uppercase;
}
.description__title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.description__text {
  max-width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}
.description__img {
  width: 244px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-left: auto;
}

.buttons-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-hotel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 236px;
  height: 48px;
  color: #F3C653;
  background: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  border: 2px solid var(--white-color);
  border-radius: 25px;
}
.button-hotel:hover, .button-hotel:focus {
  background: var(--white-color);
  border: 2px solid var(--accent-color);
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 98px;
}
.arrows__icon {
  fill: #000000;
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=index.css.map */