@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
@media screen and (max-width: 1023px) {
  .noshow-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .noshow-tablet {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .noshow-desktop {
    display: none;
  }
}

/* Шрифти з макету */
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "FilmP3";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/src/fonts/FilmP3Bold.woff2") format("woff2"), url("/src/fonts/FilmP3Bold.woff") format("woff");
}
.amenities__room-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Montserrat";
  color: #000;
  background-color: #fff;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.footer {
  background-color: #0E0C07;
  color: #F3C653;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}
.footer__container {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-right: 85px;
    padding-left: 85px;
  }
}
.footer__logo {
  font-size: 36px;
  margin-bottom: 60px;
  margin-top: 60px;
  margin-right: -0.3em;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-size: 64px;
    margin-top: 80px;
    margin-left: 154px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-bottom: 35px;
  }
}
.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.footer__item {
  margin-bottom: 16px;
  font-family: sans-serif;
}
.footer__social {
  display: flex;
  margin-top: 17px;
}
@media screen and (min-width: 1024px) {
  .footer__social {
    margin-top: 0;
    display: block;
  }
}
.footer__social__link {
  padding: 10px 12px;
  color: #F3C653;
  fill: rgba(243, 198, 83, 0.7);
}
.footer__social--item:not(:last-child) {
  margin-right: 23px;
}
@media screen and (min-width: 1024px) {
  .footer__social--item {
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    padding: 10px 12px;
    width: 144px;
  }
  .footer__social--item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .footer__box {
    flex-direction: row;
    margin-top: 40px;
    margin-right: 163px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__box {
    margin-right: 231px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__list {
    margin-right: 140px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list {
    margin-right: 200px;
  }
}

.sm-text {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 1024px) {
  .sm-text {
    display: block;
  }
}

.sm-footer-svg {
  fill: currentColor;
}

.footer__social--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  border: transparent;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 15px 0 15px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding: 24px 47px 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding: 24px 85px 0 85px;
    justify-content: space-around;
  }
}
.header__logo {
  font-size: 36px;
  line-height: 1.08;
  color: #fff;
}
@media screen and (max-width: 1279px) {
  .header__logo {
    margin-right: auto;
  }
}
.header__list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .header__list {
    gap: 72px;
  }
}
.header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
@media screen and (min-width: 1024px) {
  .header__item {
    gap: 32px;
  }
}
.header__link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #F3C653;
  fill: #F3C653;
}
@media screen and (min-width: 1024px) {
  .header__link {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  .header__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
.header__contact {
  font-size: 14px;
  line-height: 1.214;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .header__contact {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .social.header__social {
    display: none;
  }
}

.section {
  background-color: inherit;
}
@media (min-width: 1024px) {
  .section {
    padding: 0px 32px;
  }
}
@media (min-width: 1280px) {
  .section {
    padding: 0px 60px;
  }
}
.section__title {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.section__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  margin-bottom: 32px;
}

.kitchen {
  background-color: #FFFDEE;
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  /* identical to box height */
  text-align: left;
  color: #494848;
}
.items__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.086;
  color: #B4B4B4;
}
.items__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7A7A7A;
}

.address {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 210px;
  width: 100%;
  padding: 8px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  fill: #F3C653;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
.address__icon {
  margin-right: 8px;
}

.amenities {
  background-color: #FFFDEE;
  padding-top: 32px;
  padding-bottom: 32px;
}
.amenities__room-list {
  flex-direction: column;
  align-items: flex-start;
}
.amenities__room-item {
  margin-bottom: 32px;
}
.amenities__room-title {
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.button {
  display: block;
  font-family: inherit;
  cursor: pointer;
  padding: 14px 24px;
  min-width: 236px;
  font-weight: 700;
  text-align: center;
  color: #F3C653;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 25px;
}
.button:hover, .button:focus {
  color: #fff;
  border-color: #F3C653;
}

.contacts__section {
  background-color: #FFFDEE;
  padding: 36px 0px 32px 0px;
}
@media screen and (min-width: 1024px) {
  .contacts__section {
    padding: 56px 0px 40px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__section {
    padding: 56px 0px 74px 0px;
  }
}
.contacts__list {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contacts__list {
    gap: 24px;
  }
}
.contacts__item {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .contacts__item {
    flex-direction: column;
  }
}
.contacts__nav--link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: #F3C653;
  fill: #F3C653;
}
@media screen and (min-width: 1024px) {
  .contacts__nav--link {
    margin-bottom: 8px;
  }
}
.contacts__phone--link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  padding: 8px;
  background-color: #fff;
  color: #494848;
  text-decoration: none;
}
.contacts__phone--link:hover, .contacts__phone--link:focus {
  color: #F3C653;
  transition: 250ms;
}
.contacts__icon {
  fill: #C79002;
  margin-right: 8px;
}
.contacts__header {
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .contacts__header {
    font-size: 64px;
    line-height: 1.08;
  }
}
.contacts__tittle {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-top: 12px;
  margin-bottom: 16px;
  color: #7A7A7A;
}
@media screen and (min-width: 1024px) {
  .contacts__tittle {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__tittle {
    font-size: 20px;
  }
}
.contacts__map {
  width: 100%;
  height: 220px;
}
@media screen and (min-width: 1024px) {
  .contacts__map {
    width: 54%;
    height: 412px;
  }
}

.contacts__adress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  background-color: #fff;
}
.contacts__adress:hover, .contacts__adress:focus {
  color: aqua;
}

.contacts__adress--link {
  text-decoration: none;
  text-align: left;
  fill: #F3C653;
  padding: 8px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #494848;
}
.contacts__adress--link:hover, .contacts__adress--link:focus {
  color: #F3C653;
  transition: 250ms;
}

.contacts__content--box {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
@media screen and (min-width: 1024px) {
  .contacts__content--box {
    flex-direction: row;
    justify-content: space-around;
  }
}

.contacts__border--box {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  background-color: #fff;
  color: #494848;
  text-decoration: none;
}

.logo {
  display: block;
  font-family: "FilmP3", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.logo-footer {
  color: #F3C653;
}
@media screen and (min-width: 1024px) {
  .logo-footer {
    font-size: 64px;
  }
}

.hero__container {
  min-height: 740px;
  padding: 64px 15px 20px 15px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero__container {
    min-height: 720px;
    padding: 188px 47px 15px 47px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding: 164px 85px 64px 85px;
  }
}
.hero__logo {
  font-size: 96px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .hero__logo {
    margin-bottom: 16px;
    font-size: 128px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__logo {
    margin-bottom: 32px;
  }
}
.hero__title {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-bottom: 64px;
  }
}
.hero__title--hotel {
  margin-bottom: 178px;
}
@media screen and (min-width: 1024px) {
  .hero__title--hotel {
    margin-bottom: 218px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--hotel {
    margin-bottom: 242px;
  }
}
.hero__subtitle {
  margin-bottom: 113px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 137px;
    font-size: 36px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 1023px) {
  .hero__address {
    margin-left: auto;
    margin-bottom: 70px;
    color: #E5E5E5;
  }
}
.hero__button {
  margin-bottom: 16px;
}
@media screen and (max-width: 1023px) {
  .hero__button {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container--first {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero__container--first {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1023px) {
  .hero__container--second {
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container--second {
    display: flex;
    gap: 40px;
  }
}
.hero__social {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 1024px) {
  .hero__address.noshow-tablet {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hero__address.noshow-mobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero__social.noshow-desktop {
    display: none;
  }
}

.bg-image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/mobile/hp-hero-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/mobile/hp-hero-mob_2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .bg-image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/tablet/hp-hero-tabl_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/tablet/hp-hero-tabl_2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .bg-image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/pc/hp-hero-pc_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/pc/hp-hero-pc_2x.jpg);
  }
}

.bg-image__rest {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/mobile/rest-hero-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-image__rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/mobile/rest-hero-mob_2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .bg-image__rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/tablet/rest-hero-tabl_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .bg-image__rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/tablet/rest-hero-tabl_2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .bg-image__rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/pc/rest-hero-pc_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .bg-image__rest {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/pc/rest-hero-pc_2x.jpg);
  }
}

.bg-image__hotel {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/mobile/hotel-hero-mob_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-image__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/mobile/hotel-hero-mob_2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .bg-image__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/tablet/hotel-hero-tabl_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .bg-image__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/tablet/hotel-hero-tabl_2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .bg-image__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/pc/hotel-hero-pc_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .bg-image__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero_images/pc/hotel-hero-pc_2x.jpg);
  }
}

.menu {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #FFFDEE;
}
@media screen and (min-width: 1024px) {
  .menu {
    padding-top: 58px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    padding-bottom: 60px;
  }
}
.menu__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .menu__title {
    margin-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .menu__title {
    margin-left: 85px;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    background-color: #F0ECD6;
  }
}

.food-type__title {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .food-type__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .our-menu {
    display: flex;
    margin-right: 12px;
    margin-left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .our-menu {
    justify-content: flex-start;
    margin-right: 85px;
    margin-left: 85px;
  }
}

@media screen and (min-width: 1024px) {
  .main-menu {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1280px) {
  .main-menu {
    margin-right: 140px;
  }
}

.meal-list {
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .meal-list {
    margin-bottom: 20px;
  }
}

.meal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .meal {
    justify-content: flex-start;
  }
}

.about-meal {
  margin-right: auto;
  width: 220px;
}
@media screen and (min-width: 1024px) {
  .about-meal {
    margin-right: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .about-meal {
    margin-right: 60px;
    width: 252px;
  }
}

.meal-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  margin-bottom: 4px;
}

.meal-components {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
}

.meal-amount {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  width: 51px;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .meal-amount {
    margin-right: 47px;
  }
}

.meal-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.reserve-table-button {
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  color: #F3C653;
  margin-top: 32px;
}
.reserve-table-button:hover,
.reserve-table-button :focus {
  background-color: #FFFDEE;
  color: #F3C653;
}
@media screen and (min-width: 1024px) {
  .reserve-table-button {
    margin-top: 41px;
    margin-right: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .reserve-table-button {
    margin-top: 51px;
    margin-right: 85px;
  }
}

.social {
  display: flex;
  gap: 20px;
}
.social__link {
  fill: rgba(243, 198, 83, 0.7);
}/*# sourceMappingURL=index.css.map */