@import '~node_modules/modern-normalize/modern-normalize.css';
// @import '../../node_modules/swiper/swiper-bundle.min.css';
@import '../../../node_modules/nice-select2/src/scss/nice-select2.scss';

.noshow-mobile {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.noshow-tablet {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.noshow-desktop {
    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.normal {
    letter-spacing: normal;
}

.upper {
    text-transform: uppercase;
}
