// %absolutly-centered {

// }

// Плейсхолдер (placeholder) - довільне ім'я селектора з обов' язковим символом % на початку. Виклик плейсхолдера відбувається за допомогою директиви @extend всередині селектора. Приклад оголошення плейсхолдера і подальшого виклику:
// %link {
//     text-decoration: none;
//     color: currentColor;
// }

// a {
//     @extend %link;
// }

// я користуваляся таким, що нижче, які плейсхолдери добавляємо ще?

%flex-centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

%cubic {
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%modal-text {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
