
    $color-primary: #fff;
    $color-secondary: #000;
    $color-tertiary: #F3C653;
    
    $color-logo-secondary: #494848;
    
    $color-text-primary: #7A7A7A;
    $color-text-secondary: #C79002;

    $address-color: #E5E5E5;

    $color-social-nonactive-icon: rgba(243, 198, 83, 0.7);

    $color-background-primary: #FFFDEE;
    $color-background-secondary: #F0ECD6;
    $color-background-tertiary: #DADADA;
    
    $color-background-footer: #0E0C07;
    $color-background-image: rgba(0, 0, 0, 0.76);
    
    $box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    $nav-frames-border: 1px solid rgba(243, 198, 83, 0.7);


    $color-button-disabled: rgba(0, 0, 0, 0.4);
          
// $gap: 30px; - викорисотувати за необхідності:), змінити пикселі


// затримка не прописана, тому можемо використовувати з домашки

    $action-duration: 250ms;
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
