<section class="kitchen container">
  <!-- <div class="container"> -->
    <ul class="kitchen__block-top list">
      <li class="kitchen__block-left">
        <h2 class="visually-hidden">Ресторан готелю Міміно</h2>
        <ul class="items list">
          <li class="items__list">
            <p class="items__title">Amet minim mollit non</p>
          </li>
          <li class="items__list"><h3 class="logo items__title-marg">MIMIHO</h3></li>
          <li class="items__list">
            <p class="items__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet!
            </p>
          </li>
        </ul>
	  </li>
	  <li class="kitchen__block-right">
		<picture>
			<source
			  srcset="
				 ./images/restaurant_images/pc/rest-2-pc_1x.jpg 1x,
				 ./images/restaurant_images/pc/rest-2-pc_2x.jpg 2x
			  "
			  media="(min-width: 1280px)"/>
			<source
			  srcset="
				 ./images/restaurant_images/tablet/rest-2-tab_1x.jpg 1x,
				 ./images/restaurant_images/tablet/rest-2-tab_2x.jpg 2x
			  "
			  media="(min-width: 1024px)"/>
			<img
			  class="kitchen__foto-top"
			  srcset="
				 ./images/restaurant_images/mobile/rest-2-mob_1x.jpg 1x,
				 ./images/restaurant_images/mobile/rest-2-mob_2x.jpg 2x
			  "
			  src="./images/restaurant_images/mobile/rest-2-mob_1x.jpg"
			  alt="Готель"/>
			</picture>
	  </li>
	</ul>
	<ul class="list kitchen__block-bottom">
		<li>
			<picture>
				<source
					srcset="
						 ./images/restaurant_images/pc/rest-1-pc_1x.jpg 1x,
						 ./images/restaurant_images/pc/rest-1-pc_2x.jpg 2x
					  "
					  media="(min-width: 1280px)"/>
					<source
					  srcset="
						 ./images/restaurant_images/tablet/rest-1-tab_1x.jpg 1x,
						 ./images/restaurant_images/tablet/rest-1-tab_1x.jpg 2x
					  "
					  media="(min-width: 1024px)"/>
					<img
					  class="kitchen__foto-bottom"
					  srcset="
						 ./images/restaurant_images/mobile/rest-1-mob_1x.jpg 1x,
						 ./images/restaurant_images/mobile/rest-1-mob_2x.jpg 2x
					  "
					  src="./images/restaurant_images/mobile/rest-1-mob_1x.jpg"
					  alt="Готель"/>
					</picture>
			</li>
			<li>
				<p class="items__text-brown">
				  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
				  amet sint. Velit officia consequat duis enim velit mollit.
				  Exercitation veniam consequat sunt nostrud amet.
				</p>
			 </li>
	</ul>
	<ul class="list">
      <li class="slider-position">
			<div class="about-kitchen-slick-container">
				<div class="about-kitchen-slick__list responsive list">
					 <picture>
						<source
						  srcset="
							 ./images/room_header_slider/PC/1x/slider-20-pc_1x.jpg 1x,
							 ./images/room_header_slider/PC/2x/slider-20-pc_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/tablet/1x/slider-20-tab_1x.jpg 1x,
							 ./images/room_header_slider/tablet/2x/slider-20-tab_2x.jpg
						  "
						  media="(min-width: 1024px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg 1x,
							 ./images/room_header_slider/mobile/2x/slider-20-mob_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<img
						  src="./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg"
						  alt="Інтер'єр ресторану"
						  class="about-kitchen-slick__item"
						/>
					 </picture>
					 <picture>
						<source
						  srcset="
							 ./images/room_header_slider/PC/1x/slider-18-pc_1x.jpg 1x,
							 ./images/room_header_slider/PC/2x/slider-18-pc_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/tablet/1x/slider-18-tab_1x.jpg 1x,
							 ./images/room_header_slider/tablet/2x/slider-18-tab_2x.jpg
						  "
						  media="(min-width: 1024px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg 1x,
							 ./images/room_header_slider/mobile/2x/slider-18-mob_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<img
						  src="./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg"
						  alt="Інтер'єр ресторану"
						  class="about-kitchen-slick__item"
						/>
					 </picture>
					 <picture>
						<source
						  srcset="
							 ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
							 ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
							 ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
						  "
						  media="(min-width: 1024px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
							 ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<img
						  src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
						  alt="Інтер'єр ресторану"
						  class="about-kitchen-slick__item"
						/>
					 </picture>
					 <picture>
						<source
						  srcset="
							 ./images/room_header_slider/PC/1x/slider-21-pc_1x.jpg 1x,
							 ./images/room_header_slider/PC/2x/slider-21-pc_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/tablet/1x/slider-21-tab_1x.jpg 1x,
							 ./images/room_header_slider/tablet/2x/slider-21-tab_2x.jpg
						  "
						  media="(min-width: 1024px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/mobile/1x/slider-21-mob_1x.jpg 1x,
							 ./images/room_header_slider/mobile/2x/slider-21-mob_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<img
						  src="./images/room_header_slider/mobile/1x/slider-21-mob_1x.jpg"
						  alt="Інтер'єр ресторану"
						  class="about-kitchen-slick__item"
						/>
					 </picture>
					 <picture>
						<source
						  srcset="
							 ./images/room_header_slider/PC/1x/slider-11-pc_1x.jpg 1x,
							 ./images/room_header_slider/PC/2x/slider-11-pc_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/tablet/1x/slider-11-tab_1x.jpg 1x,
							 ./images/room_header_slider/tablet/2x/slider-11-tab_2x.jpg
						  "
						  media="(min-width: 1024px)"
						/>
						<source
						  srcset="
							 ./images/room_header_slider/mobile/1x/slider-11-mob_1x.jpg 1x,
							 ./images/room_header_slider/mobile/2x/slider-11-mob_2x.jpg
						  "
						  media="(min-width: 1280px)"
						/>
						<img
						  src="./images/room_header_slider/mobile/1x/slider-11-mob_1x.jpg"
						  alt="Інтер'єр ресторану"
						  class="about-kitchen-slick__item"
						/>
					 </picture>
				  </div>
				</div>
  <!-- </div> -->
</section>