<section class="about-hotel">
  <div class="container about-hotel__container">
    <div class="about-hotel__numbers">
      <h2 class="visually-hidden">Отель</h2>
      <div class="about-hotel__declaration">
        <p class="about-hotel__title">Amet minim mollit non</p>
        <span class="logo about-hotel__logo">MIMIHO</span>
        <p class="about-hotel__title-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/homepage/pc/hp-room-1-pc_1x.jpg 1x,
            ./images/homepage/pc/hp-room-1-pc_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage/tablet/hp-room-1-tab_1x.jpg 1x,
            ./images/homepage/tablet/hp-room-1-tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/mob/hp-room-1-mob_1x.jpg 1x,
            ./images/homepage/mob/hp-room-1-mob_2x.jpg 2x
          "
        />
        <img
          src="./images/homepage/mob/hp-room-1-mob_1x.jpg"
          alt="Інтер'єр ресторану"
          class="img about-hotel__double-room-img"
        />
      </picture>
    </div>
    <div class="about-hotel__hall">
      <p class="about-hotel__hall-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/homepage/pc/hp-hotel-1-pc_1x.jpg 1x,
            ./images/homepage/pc/hp-hotel-1-pc_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage/tablet/hp-hotel-1-tab_1x.jpg 1x,
            ./images/homepage/tablet/hp-hotel-1-tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/mob/hp-hotel-1-mob_1x.jpg 1x,
            ./images/homepage/mob/hp-hotel-1-mob_2x.jpg 2x
          "
        />
        <img
          src="./images/homepage/mob/hp-hotel-1-mob_1x.jpg"
          alt="Інтер'єр холу"
          class="img about-hotel__hall-img"
        />
      </picture>
    </div>
<!-- Slider -->
    <div class="about-hotel-slider-container">
        <div class="about-hotel-slick-container">
          <div class="about-hotel-slick__list responsive list">
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-20-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-20-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-20-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-20-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-20-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-hotel-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-18-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-18-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-18-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-18-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-18-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-hotel-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-hotel-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-21-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-21-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-21-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-21-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-21-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-21-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-21-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-hotel-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-11-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-11-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-11-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-11-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-11-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-11-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-11-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-hotel-slick__item"
              />
            </picture>
          </div>
        </div>
      </div>
      <!-- <div class="about-hotel-slider__position">
      
    </div> -->
  </div>
</section>
