<section class="about-restaurant">
  <div class="container about-restaurant__container">
    <div class="about-restaurant-main-container">
      <div class="about-restaurant-h2-container">
        <h2 class="about-restaurant__title visually-hidden">
          About our restaurant
        </h2>
        <p class="about-restaurant__subtitle">Amet minim mollit non</p>
        <h3 class="about-restaurant__logo">Mimiho</h3>
        <p class="about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/homepage/pc/hp-rest-1-1-pc_1x.jpg 1x,
            ./images/homepage/pc/hp-rest-1-1-pc_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage/tablet/hp-rest-1-tab_1x.jpg 1x,
            ./images/homepage/tablet/hp-rest-1-tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/mob/hp-rest-1-mob_1x.jpg 1x,
            ./images/homepage/mob/hp-rest-1-mob_2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/homepage/mob/hp-rest-1-mob_1x.jpg"
          alt="Інтер'єр ресторану"
          class="about-restaurant__first-image about-restaurant__image--shadow"
        />
      </picture>
    </div>
    <div class="about-restaurant-secondary-container">
      <picture>
        <source
          srcset="
            ./images/homepage/pc/hp-rest-2-pc_1x.jpg 1x,
            ./images/homepage/pc/hp-rest-2-pc_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage/tablet/hp-rest-2-tab_1x.jpg 1x,
            ./images/homepage/tablet/hp-rest-2-tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage/mob/hp-rest-2-mob_1x.jpg 1x,
            ./images/homepage/mob/hp-rest-2-mob_2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/homepage/mob/hp-rest-2-mob_1x.jpg"
          alt="Інтер'єр ресторану"
          class="about-restaurant__second-image about-restaurant__image--shadow"
        />
      </picture>
      <p class="about-restaurant__desc">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="about-restaurant-slider-container">
      <div class="about-restaurant-slick-container">
        <div class="about-restaurant-slick__list responsive list">
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-20-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-20-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-20-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-20-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-20-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-restaurant-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-18-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-18-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-18-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-18-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-18-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-restaurant-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-restaurant-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-21-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-21-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-21-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-21-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-21-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-21-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-21-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-restaurant-slick__item"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/room_header_slider/PC/1x/slider-11-pc_1x.jpg 1x,
                  ./images/room_header_slider/PC/2x/slider-11-pc_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/tablet/1x/slider-11-tab_1x.jpg 1x,
                  ./images/room_header_slider/tablet/2x/slider-11-tab_2x.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/room_header_slider/mobile/1x/slider-11-mob_1x.jpg 1x,
                  ./images/room_header_slider/mobile/2x/slider-11-mob_2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./images/room_header_slider/mobile/1x/slider-11-mob_1x.jpg"
                alt="Інтер'єр ресторану"
                class="about-restaurant-slick__item"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
