<section class="about-hotel">
  <div class="container about-hotel__container">
    <div class="about-hotel__numbers">
      <h2 class="visually-hidden">Отель</h2>
      <div class="about-hotel__declaration">
        <p class="about-hotel__title">Amet minim mollit non</p>
        <span class="logo about-hotel__logo">MIMIHO</span>
        <p class="about-hotel__title-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        class="img about-hotel__double-room-img"
        srcset="
          ./images/homepage/pc/hp-room-1-pc_1x.jpg 1x,
          ./images/homepage/pc/hp-room-1-pc_2x.jpg 2x
        "
        src="./images/homepage/pc/hp-room-1-pc_1x.jpg"
        alt="Двомісний номер"
      />
    </div>
    <div class="about-hotel__hall">
      <p class="about-hotel__hall-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="img about-hotel__hall-img"
        srcset="
          ./images/homepage/pc/hp-hotel-1-pc_1x.jpg 1x,
          ./images/homepage/pc/hp-hotel-1-pc_2x.jpg 2x
        "
        src="./images/homepage/pc/hp-hotel-1-pc_1x.jpg"
        alt="хол"
      />
    </div>

    <div class="slider-about-hotel">
      <div class="slider-about-hotel__container">
        <div
          class="slider-about-hotel__img slider-about-hotel__img--mr slider-about-hotel-1"
        ></div>
        <div class="slider-about-hotel__img slider-2"></div>
      </div>
      <div class="slider-about-hotel__buttom-container">
        <svg class="slider-about-hotel__svg-left" width="32" height="32">
          <use href="./images/icons/icons.svg#icon-arrow-left"></use>
        </svg>
        <svg class="slider-about-hotel__svg-right" width="32" height="32">
          <use href="./images/icons/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
