<section class="kitchen">
  <div class="container">
    <ul class="kitchen__block list">
      <li class="kitchen__block-left">
        <h2 class="visually-hidden">Ресторан готелю Міміно</h2>
        <ul class="items list">
          <li class="items__list">
            <p class="items__title">Amet minim mollit non</p>
          </li>
          <li class="items__list"><h3 class="logo items__title-marg">MIMIHO</h3></li>
          <li class="items__list">
            <p class="items__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul>
		  <picture>
			<source
			  srcset="
				 ./images/homepage/pc/hp-room-1-pc_1x.jpg 1x,
				 ./images/homepage/pc/hp-room-1-pc_2x.jpg 2x
			  "
			  media="(min-width: 1280px)"/>
			<source
			  srcset="
				 ./images/homepage/tablet/hp-room-1-tab_1x.jpg 1x,
				 ./images/homepage/tablet/hp-room-1-tab_2x.jpg 2x
			  "
			  media="(min-width: 1024px)"/>
			<img
			  class="kitchen__foto"
			  srcset="
				 ./images/homepage/mob/hp-room-1-mob_1x.jpg 1x,
				 ./images/homepage/mob/hp-room-1-mob_2x.jpg 2x
			  "
			  src="./images/homepage/mob/hp-room-1-mob_1x.jpg"
			  alt="Готель"/>
			</picture>
	  </li>
	  <li class="kitchen__block-right">
		<picture>
			<source
			  srcset="
				 ./images/homepage/pc/hp-hotel-1-pc_1x.jpg 1x,
				 ./images/homepage/pc/hp-hotel-1-pc_2x.jpg 2x
			  "
			  media="(min-width: 1280px)"/>
			<source
			  srcset="
				 ./images/homepage/tablet/hp-hotel-1-tab_1x.jpg 1x,
				 ./images/homepage/tablet/hp-hotel-1-tab_2x.jpg 2x
			  "
			  media="(min-width: 1024px)"/>
			<img
			  class="kitchen__foto"
			  srcset="
				 ./images/homepage/mob/hp-room-1-mob_1x.jpg 1x,
				 ./images/homepage/mob/hp-room-1-mob_2x.jpg 2x
			  "
			  src="./images/homepage/mob/hp-room-1-mob_1x.jpg"
			  alt="Готель"/>
			</picture>
		 <!-- <ul class="items__left list">
			<li>
		<picture>
			<source
			srcset="
			  ./images/homepage/pc/hp-hotel-1-pc_1x.jpg 1x,
			  ./images/homepage/pc/hp-hotel-1-pc_2x.jpg 2x
			"
			media="(min-width: 1280px)"/>
			<source
			  srcset="
				 ./images/homepage/tablet/hp-hotel-1-tab_1x.jpg 1x,
				 ./images/homepage/tablet/hp-hotel-1-tab_2x.jpg 2x
			  "
			  media="(min-width: 1024px)"/>
			  <img
			  class="kitchen__foto"
			  srcset="./images/homepage/mob/hp-hotel-1-mob_1x.jpg"
			  src="./images/homepage/mob/hp-hotel-1-mob_2x.jpg"
			  alt="Готель"
			/>
		</picture>
          </li>
          <li class="items__list">
            <p class="items__text-brown">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul> -->
      </li>
      <li>
        <div class="slider-temp">Slider will be there... later )</div>
      </li>
    </ul>
  </div>
</section>