<section class="section amenities">
  <div class="container">
    < class="amenities__room">
    <h2 class="section__title">Зручності у номері</h2>
      <p class="section__text amenities__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="amenities__room-desctiption">
        <ul class="list amenities__room-list">
          <li class="amenities__room-item">
            <h3 class="amenities__room-title">Загальні</h3>
          <div class="amenities__room-box">
            <p class="section__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="section__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>            
          </li>
          <li class="amenities__room-item">
            <h3 class="amenities__room-title">Ванна кімната</h3>
          <div class="amenities__room-box">  
            <p class="section__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <p class="section__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>  
          </li>
          <li class="amenities__room-item">
            <h3 class="amenities__room-title">Спальня</h3>
            <p class="section__text  amenities__room-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </li>
          <li class="amenities__room-item">
            <h3 class="amenities__room-title">Кухня</h3>
          <div class="amenities__room-box">
            <p class="section__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
            <p class="section__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </div>
          </li>
          <li class="amenities__room-item">
            <h3 class="amenities__room-title">Медіа</h3>
            <p class="section__text  amenities__room-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
          </li>
        </ul>
      </div>
      <button type="button" data-popup-btn="modal-book-room" class="button popup-link button-amenities">Оформити бронювання</button>
      
      <a class="link back-rooms" href="./hotel.html">
        Повернутися до перегляду номерів
        <svg class="back-rooms__icon" width="24" height="24">
          <use href="./images/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
