<section class="details-hotel">
  <div class="container details-hotel__wrapper">
    <div class="details-hotel__container">
      <div class="details-hotel__titles">
        <span class="logo details-hotel__logo">Mimiho</span>
        <h2 class="section__title details-hotel__title">Готель</h2>
      </div>
      <p class="details-hotel__caption">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <!-- <div class="details-hotel__swiperf" >
                            <picture class="details-hotel__image">
                  <source
                    srcset="./images/hero_images/tablet/hotel-hero-tabl_1x.jpg 1x,    
                    
                    ./images/hero_images/tablet/hotel-hero-tabl_2x.jpg 2x"
                    type="image/jpeg"
                  />

                  <img src="./images/hero_images/tablet/hotel-hero-tabl_1x.jpg" alt="Фото кімнати" width="274  px"  />
                </picture>

                      <picture class="details-hotel__image">
                  <source
                    srcset="./images/hero_images/tablet/hotel-hero-tabl_1x.jpg 1x,    
                    
                    ./images/hero_images/tablet/hotel-hero-tabl_2x.jpg 2x"
                    type="image/jpeg"
                  />

                  <img src="./images/hero_images/tablet/hotel-hero-tabl_1x.jpg" alt="Фото їжі" width="274  px"  />
                </picture>
                                </picture>

                      <picture class="details-hotel__image">
                  <source
                    srcset="./images/hero_images/tablet/hotel-hero-tabl_1x.jpg 1x,    
                    
                    ./images/hero_images/tablet/hotel-hero-tabl_2x.jpg 2x"
                    type="image/jpeg"
                  />

                  <img src="./images/hero_images/tablet/hotel-hero-tabl_1x.jpg" alt="Фото рецепшону" width="274  px"  />
                </picture>
                </div>
                <div class="details-hotel__controls">
                                <button type="button" class="details-hotel__arrows">
                    <svg  width="32" height="32">
                        <use href="./images/icons/icons.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="details-hotel__arrows">
                                        <svg  width="32" height="32">
                        <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div> -->
    </div>

        <div class="details-hotel-slider-container">
      <div class="details-hotel-slick-container">
        <div class="details-hotel-slick__list responsive list" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "rtl":true}' dir="rtl">
          <div class="details-hotel-slick__item">
            <div class="details-hotel-slick__box">
              <picture>
                <source
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-20-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-20-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-20-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-20-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-20-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-hotel__image"
                  width="274px"
                />
              </picture>
            </div>
          </div>
          <div class="details-hotel-slick__item">
            <div class="details-hotel-slick__box">
              <picture>
                <source
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-18-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-18-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-18-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-18-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-18-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-hotel__image"
                />
              </picture>
            </div>
          </div>
          <div class="details-hotel-slick__item">
            <div class="details-hotel-slick__box">
              <picture>
                <source
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-hotel__image"
                />
              </picture>
              
            </div>
            
          </div>

          <div class="details-hotel-slick__item">
            <div class="details-hotel-slick__box">
              <picture>
                <source
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-20-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-20-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-20-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-20-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-20-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-20-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-hotel__image"
                  width="274px"
                />
              </picture>
            </div>
          </div>
          <div class="details-hotel-slick__item">
            <div class="details-hotel-slick__box">
              <picture>
                <source
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-18-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-18-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-18-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-18-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-18-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-18-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-hotel__image"
                />
              </picture>
            </div>
          </div>
          <div class="details-hotel-slick__item">
            <div class="details-hotel-slick__box">
              <picture>
                <source
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-hotel__image"
                />
              </picture>
              
            </div>
            
          </div>
          
        </div>

        
      </div>
    </div>

    <div class="details-hotel__buttons">
      <button
          type="button" data-popup-btn="modal-book-room"
          class="popup-link button details-hotel__button"
        >Забронювати номер</button>        
      <button type="button" data-popup-btn="modal-menu-price" class="popup-link button details-hotel__button">
        Переглянути ціни</button>
    </div>
  </div>
</section>
