
<section class="details-restaurant">
  <div class="container details-restaurant__container">
    <div class="details-restaurant__information">
      <span class="logo details-restaurant__logo">Mimiho</span>
      <h2 class="details-restaurant__title">Ресторан</h2>
      <p class="details-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!-- Slider main container -->
    <div class="combined-section details-restaurant__combined-section">
      <!-- <div class="slick-container details-restaurant__slick-container">
        <!-- Additional required wrapper -->
       <!-- <div class="details-restaurant-slider-wrapper">
          <div data-slick='{"slidesToShow": 3}' class="slider responsive">
            <div class="slider__item"> -->
              

      <div class="details-restaurant-slick-container">
        <div
          data-slick='{"slidesToShow": 3}'
          class="details-restaurant-slick__list responsive"
        >
            <div class="details-restaurant__item">
              <picture class="details-restaurant__picture">
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food_1x.jpg 1x,
                    ./images/restaurant_images/sl-food_2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food_1x.jpg 1x,
                    ./images/restaurant_images/sl-food_1x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/mobile/sl-food-mob_1x.jpg 1x,
                    ./images/restaurant_images/mobile/sl-food-mob_2x.jpg 2x
                  "
                />
                <img 
                  srcset="
                    ./images/restaurant_images/mobile/sl-food-mob_1x.jpg 1x,
                    ./images/restaurant_images/mobile/sl-food-mob_2x.jpg 2x
                  "
                  src="/src/images/restaurant_images/mobile/sl-food-mob_1x.jpg"
                  alt="Стейк" 
                  class="restaurant-img"
                  width="274"
                  height="270"
                />
              </picture>    
            </div>
          <div class="details-restaurant__item">
            <picture class="details-restaurant__picture">
              <source
                type="image/jpeg"
                srcset="
                  ./images/restaurant_images/sl-food-1_1x.jpg 1x,
                  ./images/restaurant_images/sl-food-1_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/jpeg"
                srcset="
                  ./images/restaurant_images/sl-food-1_1x.jpg 1x,
                  ./images/restaurant_images/sl-food-1_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <img
                srcset="
                  ./images/restaurant_images/sl-food-1_1x.jpg 1x,
                  ./images/restaurant_images/sl-food-1_2x.jpg 2x
                "
                src="/src/images/restaurant_images/sl-food-1_1x.jpg"
                alt="Шашлик"
                class="restaurant-img"
                width="274"
                height="270"
              />
            </picture>
          </div>
          
          <div class="details-restaurant__item">
            <picture class="details-restaurant__picture">
              <source
                type="image/jpeg"
                srcset="
                  ./images/restaurant_images/sl-food-2_1x.jpg 1x,
                  ./images/restaurant_images/sl-food-2_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/jpeg"
                srcset="
                  ./images/restaurant_images/tablet/sl-food-tablet-2_1x.jpg 1x,
                  ./images/restaurant_images/tablet/sl-food-tablet-2_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <img
                srcset="
                  ./images/restaurant_images/tablet/sl-food-tablet-2_1x.jpg 1x,
                  ./images/restaurant_images/tablet/sl-food-tablet-2_2x.jpg 2x
                "
                src="/src/images/restaurant_images/tablet/sl-food-tablet-2_1x.jpg"
                alt="Салат"
                class="restaurant-img"
                width="274"
                height="270"
              />
            </picture>
          </div>
          
       
            <div class="details-restaurant__item">
              <picture class="details-restaurant__picture">
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="restaurant-img"
                />
              </picture>
            </div>
          

        </div>
      </div>
      <div class="details-restaurant__wrapper">
        <button
          data-popup-btn="modal-book-table"
          class="popup-link button details-restaurant__button"
          type="button"
        >
          Забронювати столик
        </button>

        <a
          href="./restaurant.html"
          class="button details-restaurant__button"
          >Переглянути меню
        </a>
      </div>
    </div>
  </div>
</section>
