<main>
    <section class="details-restaurant">
        <div class= "container details-restaurant__container">
          <span class="details-restaurant__subtitle">Mimino</span>
          <h2 class="details-restaurant__title">Ресторан</h2>
          <p class="details-restaurant__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
          <ul class="button-list">
            <li>
              <button class="button details-restaurant__button" type="button">Забронювати столик</button>
            </li>
            <li>
              <a href="#" class="button details-restaurant__button"
                >Переглянути меню
                <!-- <button type="button">Переглянути меню</button> -->
              </a>
            </li>
          </ul>
          <ul class="list-images details-restaurant__list-images">
            <li class="list-images__item">
                
              <!-- <img src="" alt="Стейк" /> -->
            </li>
            <li class="list-images__item">
                
              <!-- <img src="" alt="Шашлик" /> -->
            </li>
            <li class="list-images__item">
                
              <!-- <img src="./images/salad.jpg" alt="Салат" /> -->
            </li>
          </ul>
        </div>
      </section>
</main>