<section class="details-restaurant">
  <div class="container details-restaurant__wrapper">
    <div class="details-restaurant__container">
      <div class="details-restaurant__titles">
        <span class="logo details-restaurant__logo">Mimiho</span>
        <h2 class="section__title details-restaurant__title">Ресторан</h2>
      </div>
      <p class="details-restaurant__caption">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-restaurant-slider-container">
      <div class="details-restaurant-slick-container">
        <div
          class="details-restaurant-slick__list responsive list"
          data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "rtl":true}'
          dir="rtl"
        >
          <div class="details-restaurant-slick__item">
            <div class="details-restaurant-slick__box">
              <picture>
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food-2_1x.jpg 1x,
                    ./images/restaurant_images/sl-food-2_2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/tablet/sl-food-tablet-2_1x.jpg 1x,
                    ./images/restaurant_images/tablet/sl-food-tablet-2_2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    ./images/restaurant_images/tablet/sl-food-tablet-2_1x.jpg 1x,
                    ./images/restaurant_images/tablet/sl-food-tablet-2_2x.jpg 2x
                  "
                  src="/src/images/restaurant_images/tablet/sl-food-tablet-2_1x.jpg"
                  alt="Салат"
                  class="slider__image details-restaurant__image details-restaurant__third-image"
                />
              </picture>
            </div>
          </div>

          <div class="details-restaurant-slick__item">
            <div class="details-restaurant-slick__box">
              <picture>
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food-1_1x.jpg 1x,
                    ./images/restaurant_images/sl-food-1_2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food-1_1x.jpg 1x,
                    ./images/restaurant_images/sl-food-1_2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    ./images/restaurant_images/sl-food-1_1x.jpg 1x,
                    ./images/restaurant_images/sl-food-1_2x.jpg 2x
                  "
                  src="/src/images/restaurant_images/sl-food-1_1x.jpg"
                  alt="Шашлик"
                  class="slider__image details-restaurant__image details-restaurant__second-image"
                />
              </picture>
            </div>
          </div>
          <div class="details-restaurant-slick__item">
            <div class="details-restaurant-slick__box">
              <picture>
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food_1x.jpg 1x,
                    ./images/restaurant_images/sl-food_2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/sl-food_1x.jpg 1x,
                    ./images/restaurant_images/sl-food_1x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/restaurant_images/mobile/sl-food-mob_1x.jpg 1x,
                    ./images/restaurant_images/mobile/sl-food-mob_2x.jpg 2x
                  "
                />
                <img
                  srcset="
                    ./images/restaurant_images/mobile/sl-food-mob_1x.jpg 1x,
                    ./images/restaurant_images/mobile/sl-food-mob_2x.jpg 2x
                  "
                  src="/src/images/restaurant_images/mobile/sl-food-mob_1x.jpg"
                  alt="Стейк"
                  class="slider__image details-restaurant__image details-restaurant__first-image"
                />
              </picture>
            </div>
          </div>

          <div class="details-restaurant-slick__item">
            <div class="details-restaurant-slick__box">
              <picture>
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/room_header_slider/PC/1x/slider-16-pc_1x.jpg 1x,
                    ./images/room_header_slider/PC/2x/slider-16-pc_2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/room_header_slider/tablet/1x/slider-16-tab_1x.jpg 1x,
                    ./images/room_header_slider/tablet/2x/slider-16-tab_2x.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg 1x,
                    ./images/room_header_slider/mobile/2x/slider-16-mob_2x.jpg
                  "
                />
                <img
                  src="./images/room_header_slider/mobile/1x/slider-16-mob_1x.jpg"
                  alt="Інтер'єр ресторану"
                  class="slider__image details-restaurant__image details-restaurant__fourth-image"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="details-restaurant__buttons">
      <button
        type="button"
        data-popup-btn="modal-book-table"
        class="popup-link button details-restaurantbutton"
      >
        Забронювати столик
      </button>
      <a
        href="/src/restaurant.html#menu"
        class="link button details-restaurantbutton"
        >Переглянути меню</a
      >
    </div>
  </div>
</section>
