
<section class="section details-hotel">
<div class="container details-hotel__wrapper">
    <div class="details-hotel__container">
    <div class="details-hotel__titles">
            <span class="logo details-hotel__logo">Mimiho</span>
        <h2 class="section__title details-hotel__title">Готель</h2>
    </div>
        <p class="details-hotel__caption">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    </div>
            <div class="details-hotel__buttons">
                <button type="button" class="button details-hotel__button">
                    Забронювати номер
                </button>
                <button type="button" class="button details-hotel__button">
                    Переглянути ціни
                </button>
            </div>

        </div>
</section>