<section class="hero bg-image__room-">
  <div class="gradient"></div>
  <div class="hero-luxe-slider-container container">
    <div class="hero-luxe-slick-container">
      <div
        data-slick='{"slidesToShow": 1}'
        lass="hero-luxe-slick__list responsive"
      >
        <picture>
          <source
            srcset="
              ./images/slider_header_room/1x/sl-head-1-mob_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-1-mob_2x.jpg
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/slider_header_room/1x/sl-head-1-tab_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-1-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/slider_header_room/1x/sl-head-1-PC_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-1-PC_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/slider_header_room/1x/sl-head-1-mob_1x.jpg"
            alt="Інтер'єр кімнати"
            class="hero-luxe-slick__item"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/slider_header_room/1x/sl-head-2-mob_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-2-mob_2x.jpg
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/slider_header_room/1x/sl-head-2-tab_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-2-tab_2x.jpg
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/slider_header_room/1x/sl-head-2-PC_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-2-PC_2x.jpg
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./images/slider_header_room/1x/sl-head-1-mob_1x.jpg"
            alt="Інтер'єр кімнати"
            class="hero-luxe-slick__item"
          />
        </picture>
      </div>
    </div>
  </div>
  <!-- <div class="hero-slider-container">
    <div class="hero-slick-container">
      <div class="slick__list responsive list">
        <div class="slick-item">
          <div class="slick-box">
<picture>
  <source srcset="
              ./images/slider_header_room/1x/sl-head-2-mob_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-2-mob_2x.jpg
            " media="(max-width: 1023px)" />
  <source srcset="
              ./images/slider_header_room/1x/sl-head-2-tab_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-2-tab_2x.jpg
            " media="(min-width: 1024px)" />
  <source srcset="
              ./images/slider_header_room/1x/sl-head-2-PC_1x.jpg 1x,
              ./images/slider_header_room/2x/sl-head-2-PC_2x.jpg
            " media="(min-width: 1280px)" />
  <img src="./images/slider_header_room/1x/sl-head-1-mob_1x.jpg" alt="Інтер'єр кімнати"
    class="about-restaurant-slick__item" />
</picture>
          </div>
        </div>
        <div class="slick-item">
          <div class="slick-box">
                    <picture>
                      <source srcset="
                                  ./images/slider_header_room/1x/sl-head-1-mob_1x.jpg 1x,
                                  ./images/slider_header_room/2x/sl-head-1-mob_2x.jpg
                                " media="(max-width: 1023px)" />
                      <source srcset="
                                  ./images/slider_header_room/1x/sl-head-1-tab_1x.jpg 1x,
                                  ./images/slider_header_room/2x/sl-head-1-tab_2x.jpg
                                " media="(min-width: 1024px)" />
                      <source srcset="
                                  ./images/slider_header_room/1x/sl-head-1-PC_1x.jpg 1x,
                                  ./images/slider_header_room/2x/sl-head-1-PC_2x.jpg
                                " media="(min-width: 1280px)" />
                      <img src="./images/slider_header_room/1x/sl-head-1-mob_1x.jpg" alt="Інтер'єр кімнати"
                        class="about-restaurant-slick__item" />
                    </picture>
          </div>
        </div>

      </div>
    </div>
  </div> -->
  <div class="container hero__container hero__room--top">
    <a
      href="https://goo.gl/maps/5fHJMBBuwY2Lgnmz8"
      class="link address hero__address hero__room_address noshow-tablet"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg width="24" height="24" class="address__icon">
        <use href="./images/icons/icons.svg#icon-location"></use>
      </svg>
      Україна, м. Полтава, вул. Маршала Бірюзова, 15
    </a>
    <h1 class="hero__room"><span class="upper">Двомісний номер </span>люкс</h1>
    <p class="hero__room_discription">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero__room_container">
      <div class="hero__room_container--first">
        <a
          href="https://goo.gl/maps/5fHJMBBuwY2Lgnmz8"
          class="link address hero__address noshow-mobile"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg width="24" height="24" class="address__icon">
            <use href="./images/icons/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
        <ul class="list social hero__social noshow-desktop hero__room_social">
          <li class="social__item">
            <a
              href=""
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="24" height="24">
                <use href="./images/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href=""
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="24" height="24">
                <use href="./images/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg width="24" height="24">
                <use href="./images/icons/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button
        data-popup-btn="modal-menu-price"
        type="button"
        class="popup-link button hero__room_button"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
