<section class="section__hotel-lux">
  <div class="container">
    <div class="content">
      <div class="content__hotel">
        <p class="content__paragrahp">Amet minim mollit non</p>
        <h2 class="content__title">Mimiho</h2>
        <h3 class="content__lux-title">
          Двомісний номер <span class="lux">люкс</span>
        </h3>
        <p class="content__lux-paragraph">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img class="image" src='./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg' alt="" width="460" />
    </div>

    <div class="content-slider">
      <div class="slider">Слайдер</div>

      <div class="buttons">
        <a class="button link-lux" href="#">Детальніше</a>
        <button class="button" type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>