<section class="section section__hotel-lux">
	<div class="container section__container">
		<div class="content">
			<div class="content__hotel">
				<p class="content__paragrahp">Amet minim mollit non</p>
				<h2 class="content__title">Mimiho</h2>
				<h3 class="content__lux-title">
				Двомісний номер <span class="lux">люкс</span>
				</h3>
				<p class="content__lux-paragraph">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet.
				</p>
			</div>
			<img class="image" src='./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg' alt="" width="460" />
		</div>

		<div class="content-slider">
			<div class="slider">
				<img class="slider__img" src="./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg" alt="" width="254">
				<img class="slider__img" src="./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg" alt="" width="254">
			</div>

			<div class="buttons">
				<a class="button button--lux link-lux" href="#">Детальніше</a>
				<button class="button button--lux" type="button">Переглянути ціни</button>
			</div>
		</div>
	</div>
</section>