<section class="section section__lux-for-two">
	<div class="container section__container">
		<div class="content">
			<div class="content__hotel">
				<p class="content__paragrahp">Amet minim mollit non</p>
				<span class="content__title">Mimiho</span>
				<h2 class="content__lux-title">
				Двомісний номер <span class="lux">люкс</span>
				</h2>
				<p class="content__lux-paragraph">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet.
				</p>
			</div>

			<div class="image-wrapper">
				<picture>
					<source
					srcset="
						./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg    1x,
						./images/hotel_rooms/room3/pc/room3-1_pc_2x.jpg 2x"
					media="(min-width: 1280px)"/>
					<source
					srcset="
						./images/hotel_rooms/room3/tablet/room3-1_tab_1x.jpg    1x,
						./images/hotel_rooms/room3/tablet/room3-1_tab_2x.jpg 2x
					"
					media="(min-width: 1024px)"
					/>
					<img
					srcset="
						./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg    1x,
						./images/hotel_rooms/room3/mobile/room3-1_mob_2x.jpg 2x
					"
					src="./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg"
					alt=""
					class="img_backgroung-lux"
					/>
				</picture>
			</div>
		</div>

		<div class="content-slider">
			<div class="slider-lux">
				<div class="slider-img">
					<picture>
						<source
						srcset="
							./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg    1x,
							./images/hotel_rooms/room3/pc/room3-2_pc_2x.jpg 2x"
						media="(min-width: 1280px)"/>
						<source
						srcset="
							./images/hotel_rooms/room3/tablet/room3-2_tab_1x.jpg    1x,
							./images/hotel_rooms/room3/tablet/room3-2_tab_2x.jpg 2x
						"
						media="(min-width: 1024px)"
						/>
						<img
						srcset="
							./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg    1x,
							./images/hotel_rooms/room3/mobile/room3-2_mob_2x.jpg 2x
						"
						src="./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg"
						alt=""
						class="slider-lux__img"
						/>
					</picture>

					<picture>
						<source
						srcset="
							./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg    1x,
							./images/hotel_rooms/room3/pc/room3-3_pc_2x.jpg 2x"
						media="(min-width: 1280px)"/>
						<source
						srcset="
							./images/hotel_rooms/room3/tablet/room3-3_tab_1x.jpg    1x,
							./images/hotel_rooms/room3/tablet/room3-3_tab_2x.jpg 2x
						"
						media="(min-width: 1024px)"
						/>
						<img
						srcset="
							./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg    1x,
							./images/hotel_rooms/room3/mobile/room3-3_mob_2x.jpg 2x
						"
						src="./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg"
						alt=""
						class="slider-lux__img"
						/>
					</picture>


					<!-- <img class="slider-lux__img" src="./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg" alt="" width="254">
					<img class="slider-lux__img" src="./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg" alt="" width="254"> -->
				</div>

				<div class="arrow-button">
					<button class="arrow-lux-button">
						<svg width="32" height="32">
							<use href="./images/icons/icons.svg#icon-arrow-left"></use>
						</svg>
					</button>
					<button class="arrow-lux-button"> 
						<svg width="32" height="32">
							<use href="./images/icons/icons.svg#icon-arrow-right"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="buttons">
				<a class="button button--lux link-lux" href="./room.html">Детальніше</a>
				<button data-popup-btn="modal-menu-price" class="popup-link button button--lux" type="button">Переглянути ціни</button>
			</div>
		</div>
</section>