<div data-popup-target="modal-book-room" class="popup">
  <div class="popup__content">
    <button type="button" class="popup__close close-popup">
      <svg width="24" height="24">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-menu__title">ЗАБРОНЮВАТИ НОМЕР</h2>

    <form class="modal-flex-box">
      <div class="modal-flex-column-second">
        <div class="modal-menu__item modal-flex-column">
          <input
            class="modal-menu__input"
            type="text"
            name="name"
            id="name"
            placeholder="Ваше ім’я"
            pattern="[a-z]"
          />
          <label for="name" class="modal-menu__text"
            >На кого забронювати столик?</label
          >
        </div>

        <div class="modal-menu__item modal-flex-column">
          <input
            class="modal-menu__input input-date"
            type="date"
            name="date"
            id="date"
            placeholder="Сьогодні"
            required
            pattern="\d{2}-\d{2}-\d{4}"
          />

          <label class="modal-menu__text modal-margin-reset" for="date"
            >Дата заїзду</label
          >
        </div>
      </div>

      <div>
        <div class="modal-flex-column">
          <input
            class="js-inputmask modal-menu__input"
            type="text"
            name="tel"
            id="tel"
            pattern="[0-9]"
          />
          <label id="tel" class="modal-menu__text">Номер телефону </label>
        </div>

        <div class="modal-flex-column">
          <select name="testselect" class="js-select">
            <option value="2">Двомісний люкс</option>
            <option value="3">Двомісний номер</option>
            <option value="4">Одномісний номер</option>
          </select>

          <label class="modal-menu__text">Категорія номеру</label>
        </div>

        <div class="modal-flex-column">
          <input
            class="modal-menu__input input-date"
            type="date"
            name="date"
            id="date"
            placeholder="Сьогодні"
            required
            pattern="\d{2}-\d{2}-\d{4}"
          />
          <label
            class="modal-menu__text modal-margin-reset modal-mobil-reset-margen"
            >Дата виїзду</label
          >
        </div>
      </div>
    </form>
    <div class="modal-menu-box__submit">
      <button class="modal-menu__submit close-popup" type="submit">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </div>
  </div>
</div>
