<section class="room-for-three">
    <div class="container-room-for-two">
        <div class="room-for-three__thumb">
            <!-- Опис -->
            <ul class="description-r43">
                <li>
                    <p class="description-r43__subtitle">Amet minim mollit non</p>
                </li>
                <li><span class="description-r43__logo">MIMIHO</span></li>
                <li>
                    <h2 class="description-r43__title">трьохмісний номер</h2>
                </li>
                <li>
                    <p class="description-r43__text">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat duis enim velit mollit. Exercitation
                        veniam consequat sunt nostrud amet.
                    </p>
                </li>
            </ul>
            <picture>
                <source srcset="
            ./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg 1x,
            ./images/hotel_rooms/room3/pc/room3-1_pc_2x.jpg 2x
          " media="(min-width: 1280px)" />
                <source srcset="
            ./images/hotel_rooms/room3/tablet/room3-1_tab_1x.jpg 1x,
            ./images/hotel_rooms/room3/tablet/room3-1_tab_2x.jpg 2x
          " media="(min-width: 1024px)" />
                <img srcset="
            ./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg 1x,
            ./images/hotel_rooms/room3/mobile/room3-1_mob_2x.jpg 2x
          " src="./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg" alt="Двомісний номер"
                    class="description-r43__img" />
            </picture>
        </div>
        <!-- Slider main container -->
        <!-- <div class="slider-and-buttons-thumb">    </div> -->
        <div class="room-4-3-slider-container">
            <div class="room-4-3-slick-container">
                <div class="room-4-3-slick__list responsive list">
                    <div class="room-4-3-slick__item">
                        <div class="room-4-3-slick__box">
                            <picture>
                                <source srcset="
                      ./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg 1x,
                      ./images/hotel_rooms/room3/pc/room3-2_pc_2x.jpg 2x
                    " media="(min-width: 1280px)" />
                                <source srcset="
                      ./images/hotel_rooms/room3/tablet/room3-2_tab_1x.jpg 1x,
                      ./images/hotel_rooms/room3/tablet/room3-2_tab_2x.jpg 2x
                    " media="(min-width: 1024px)" />
                                <img srcset="
                      ./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg 1x,
                      ./images/hotel_rooms/room3/mobile/room3-2_mob_2x.jpg 2x
                    " src="./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg" alt="Двомісний номер"
                                    class="slider__image room-4-3__image--shadow" />
                            </picture>
                        </div>
                    </div>
                    <div class="room-4-3-slick__item">
                        <div class="room-4-3-slick__box">
                            <picture>
                                <source srcset="
                      ./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg 1x,
                      ./images/hotel_rooms/room3/pc/room3-3_pc_2x.jpg 2x
                    " media="(min-width: 1280px)" />
                                <source srcset="
                      ./images/hotel_rooms/room3/tablet/room3-3_tab_1x.jpg 1x,
                      ./images/hotel_rooms/room3/tablet/room3-3_tab_2x.jpg 2x
                    " media="(min-width: 1024px)" />
                                <img srcset="
                      ./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg 1x,
                      ./images/hotel_rooms/room3/mobile/room3-3_mob_2x.jpg 2x
                    " src="./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg" alt="Двомісний номер" Daniel Mikheev,
                                    [01.02.2023 14:56] class="slider__image room-4-2__image--shadow" />
                            </picture>
                        </div>
                    </div>
                    <div class="room-4-3-slick__item">
                        <div class="room-4-3-slick__box">
                            <picture>
                                <source srcset="
                      ./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg 1x,
                      ./images/hotel_rooms/room3/pc/room3-2_pc_2x.jpg 2x
                    " media="(min-width: 1280px)" />
                                <source srcset="
                      ./images/hotel_rooms/room3/tablet/room3-2_tab_1x.jpg 1x,
                      ./images/hotel_rooms/room3/tablet/room3-2_tab_2x.jpg 2x
                    " media="(min-width: 1024px)" />
                                <img srcset="
                      ./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg 1x,
                      ./images/hotel_rooms/room3/mobile/room3-2_mob_2x.jpg 2x
                    " src="./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg" alt="Двомісний номер"
                                    class="slider__image room-4-3__image--shadow" />
                            </picture>
                        </div>
                    </div>
                    <div class="room-4-3-slick__item">
                        <div class="room-4-3-slick__box">
                            <picture>
                                <source srcset="
                      ./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg 1x,
                      ./images/hotel_rooms/room3/pc/room3-3_pc_2x.jpg 2x
                    " media="(min-width: 1280px)" />
                                <source srcset="
                      ./images/hotel_rooms/room3/tablet/room3-3_tab_1x.jpg 1x,
                      ./images/hotel_rooms/room3/tablet/room3-3_tab_2x.jpg 2x
                    " media="(min-width: 1024px)" />
                                <img srcset="
                      ./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg 1x,
                      ./images/hotel_rooms/room3/mobile/room3-3_mob_2x.jpg 2x
                    " src="./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg" alt="Двомісний номер"
                                    class="slider__image room-4-3__image--shadow" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="buttons-r43-thumb">
            <button class="button button-r43-hotel">
                <a href="#" class="link">Детальніше</a>
            </button>
            <!-- <a class="button-r43-hotel" href="#">Детальніше</a> -->
            <button data-popup-btn="modal-menu-price" class="button popup-link button-r43-hotel" type="button">Переглянути
                ціни</button>
        </div>
    </div>
</section>