<section class="room-for-two">
  <div class="container-room-for-two">
    <div class="room-for-two__thumb">
      <!-- Опис -->
      <ul class="description-r42">
        <li><p class="description-r42__subtitle">Amet minim mollit non</p></li>
        <li><p class="description-r42__logo">MIMIHO</p></li>
        <li><h2 class="description-r42__title">двомісний номер</h2></li>
        <li>
          <p class="description-r42__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </li>
      </ul>
      <picture>
        <source
          srcset="
            ./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg 1x,
            ./images/hotel_rooms/room3/pc/room3-1_pc_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel_rooms/room3/tablet/room3-1_tab_1x.jpg 1x,
            ./images/hotel_rooms/room3/tablet/room3-1_tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          srcset="
            ./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg 1x,
            ./images/hotel_rooms/room3/mobile/room3-1_mob_2x.jpg 2x
          "
          src="./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg"
          alt="Двомісний номер"
          class="description-r42__img"
        />
      </picture>
    </div>

    <div class="slider-and-buttons-thumb">
      <!-- Slider main container -->
      <div class="slider-r42-tumb">
        <div class="swiper" [data-slider="team-slider" ]>
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <!-- <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div> -->

            <!-- Просто картинки поки нема слайдера -->
            <picture>
              <source
                srcset="
                  ./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg 1x,
                  ./images/hotel_rooms/room3/pc/room3-2_pc_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel_rooms/room3/tablet/room3-2_tab_1x.jpg 1x,
                  ./images/hotel_rooms/room3/tablet/room3-2_tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <img
                srcset="
                  ./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg 1x,
                  ./images/hotel_rooms/room3/mobile/room3-2_mob_2x.jpg 2x
                "
                src="./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg"
                alt="Двомісний номер"
                class="slide-r42"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg 1x,
                  ./images/hotel_rooms/room3/pc/room3-3_pc_2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel_rooms/room3/tablet/room3-3_tab_1x.jpg 1x,
                  ./images/hotel_rooms/room3/tablet/room3-3_tab_2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <img
                srcset="
                  ./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg 1x,
                  ./images/hotel_rooms/room3/mobile/room3-3_mob_2x.jpg 2x
                "
                src="./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg"
                alt="Двомісний номер"
                class="slide-r42"
              />
            </picture>
          </div>
          <!-- Arrows -->
          <div class="arrows-r42">
            <div class="swiper-button-prev">
              <svg class="arrows-r42__icon">
                <use href="./images/icons/icons.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg class="arrows-r42__icon">
                <use href="./images/icons/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="buttons-r42-thumb">
        <a class="button-r42-hotel" href="http://Room Page">Детальніше</a>
        <button class="button-r42-hotel" type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
