<section class="section room-for-three__section">
  <div class="container room-for-three__container">
    <p class="room-for-three__subtitle">Amet minim mollit non</p>
    <span class="room-for-three__name">MIMIHO</span>
    <div class="room-for-three__blok">
      <h2 class="room-for-three__title">ТРЬОХМІСНИЙ НОМЕР</h2>
      <p class="room-for-three__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg 1x,
          ./images/hotel_rooms/room3/mobile/room3-1_mob_2x.jpg 2x
        "
        type="images/jpg"
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/hotel_rooms/room3/tablet/room3-1_tab_1x.jpg 1x,
          ./images/hotel_rooms/room3/tablet/room3-1_tab_2x.jpg 2x
        "
        type="images/jpg"
        media="(max-width: 1279px)"
      />
      <source
        srcset="
          ./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg 1x,
          ./images/hotel_rooms/room3/pc/room3-1_pc_2x.jpg 2x
        "
        type="images/jpg"
      />
      <img
        class="room-for-three__foto"
        src="./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg"
        alt="трьохмісний-номер"
      />
    </picture>
    <div class="room-for-three__slide">
      <div class="room-for-three__box">
        <picture>
          <source
            srcset="
              ./images/hotel_rooms/room3/mobile/room3-2_mob_1x.jpg 1x,
              ./images/hotel_rooms/room3/mobile/room3-2_mob_2x.jpg 2x
            "
            type="images/jpg"
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/hotel_rooms/room3/tablet/room3-2_tab_1x.jpg 1x,
              ./images/hotel_rooms/room3/tablet/room3-2_tab_2x.jpg 2x
            "
            type="images/jpg"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg 1x,
              ./images/hotel_rooms/room3/pc/room3-2_pc_2x.jpg 2x
            "
            type="images/jpg"
          />
          <img
            class="room-for-three__img"
            src="./images/hotel_rooms/room3/pc/room3-2_pc_1x.jpg"
            alt="трьохмісний-номер"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/hotel_rooms/room3/mobile/room3-3_mob_1x.jpg 1x,
              ./images/hotel_rooms/room3/mobile/room3-3_mob_2x.jpg 2x
            "
            type="images/jpg"
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/hotel_rooms/room3/tablet/room3-3_tab_1x.jpg 1x,
              ./images/hotel_rooms/room3/tablet/room3-3_tab_2x.jpg 2x
            "
            type="images/jpg"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg 1x,
              ./images/hotel_rooms/room3/pc/room3-3_pc_2x.jpg 2x
            "
            type="images/jpg"
          />
          <img
            class="room-for-three__img"
            src="./images/hotel_rooms/room3/pc/room3-3_pc_1x.jpg"
            alt="трьохмісний-номер"
          />
        </picture>
      </div>
    </div>
    <a class="room-for-three__button button" href="">Детальніше</a>
    <button
      class="room-for-three__button button"
      type="button"
      data-modal-open=""
    >
      Переглянути ціни
    </button>
  </div>
</section>
