<section class="room-for-two">
  <div class="container container-room-for-two">
    <div class="room-for-two__thumb">
      <!-- Опис -->
      <ul class="description">
        <li><p class="description__subtitle">Amet minim mollit non</p></li>
        <li><p class="description__logo">MIMIHO</p></li>
        <li><h2 class="description__title">двомісний номер</h2></li>
        <li>
          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </li>
      </ul>
      <picture>
        <source
          srcset="
            ./images/hotel_rooms/room3/pc/room3-1_pc_1x.jpg 1x,
            ./images/hotel_rooms/room3/pc/room3-1_pc_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hotel_rooms/room3/tablet/room3-1_tab_1x.jpg 1x,
            ./images/hotel_rooms/room3/tablet/room3-1_tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          srcset="
            ./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg 1x,
            ./images/hotel_rooms/room3/mobile/room3-1_mob_2x.jpg 2x
          "
          src="./images/hotel_rooms/room3/mobile/room3-1_mob_1x.jpg"
          alt="Двомісний номер"
          class="description__img"
        />
      </picture>

    </div>

    <!-- slider -->

    <!-- <div class="arrows">
          <svg class="arrows__icon"><use href="./images/icons.svg#icon-arrow-left"></use></svg>
          <svg class="arrows__icon"><use href="./images/icons.svg#icon-arrow-right"></use></svg>
        </div> -->

    <!-- buttons -->
    <div class="buttons-thumb">
      <a class="button-hotel" href="http://Room Page">Детальніше</a>
      <button class="button-hotel" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
