<footer>
  <section class="footer">
    <div class="container footer__container">
      <a href="./index.html" class="link logo footer__logo logo-footer"
        >Mimiho</a
      >
      <div class="footer__box">
        <ul class="list footer__list">
          <li class="footer__item">
            <a href="./index.html" class="link footer__link">Головна </a>
          </li>
          <li class="footer__item">
            <a href="./restaurant.html" class="link footer__link">Ресторан </a>
          </li>
          <li class="footer__item">
            <a href="./hotel.html" class="link footer__link">Готель </a>
          </li>
        </ul>
        <ul class="list footer__social">
          <li class="footer__social--item">
            <a
              href="#"
              class="link social__link footer__social--link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="sm-text">Telegram</span>

              <svg class="sm-footer-svg" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="footer__social--item">
            <a
              href="#"
              class="link social__link footer__social--link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="sm-text">Facebook</span>

              <svg class="sm-footer-svg" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-facebook"></use></svg></a>
            
          </li>
          <li class="footer__social--item">
            <a
              href="#"
              class="link social__link footer__social--link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span class="sm-text">Instagram</span>

              <svg class="sm-footer-svg" width="24" height="24">
                <use href="./images/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
