 <!-- <header>
      <div class="container header">
        <a href="./index.html" class="logo link">Mimiho</a>
        <nav class="header__nav">
          <ul class="list header__list">
            <li class="header__item">
              <a href="./restaurant.html" class="link header__link"
                >Ресторан
                <div class="header__phone">
                  <svg width="24" height="24">
                    <use href="./images/icons/icons.svg#icon-phone"></use>
                  </svg>
                  <a href="tel:+380955559533" class="link header__contact">095 555 95 33</a>
                </div>
              </a>
            </li>
            <li class="header__item">
              <a href="./hotel.html" class="link header__link"
                >Готель
                <div class="header__phone">
                  <svg width="24" height="24" class="header__icon">
                    <use href="./images/icons/icons.svg#icon-phone"></use>
                  </svg>
                  <a href="tel:+380668491089" class="link header__contact">066 849 10 89</a>
                </div>
              </a>
            </li>
          </ul>
        </nav>
        <ul class="list social header__social">
          <li class="social__item">
            <a href="#" class="link social__link" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="24" height="24">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="link social__link" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="24" height="24">
                <use href="#"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="link social__link" target="_blank" rel="noopener noreferrer nofollow">
              <svg width="24" height="24">
                <use href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div> 
    </header> -->