.kitchen {
  background-color: $color-background-primary;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  /* identical to box height */
  text-align: left;

  color: #494848;

  &__block {
  }

  &__item {
  }

  &__foto {
  }
}

.items {
  &__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.086;
    color: $color-text-subtitle;
  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-text-primary;
  }
}
