.kitchen {
  background-color: $color-background-primary;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  /* identical to box height */
  text-align: left;
// transform: translateY(-32px);
// background-color: transparent;


  

  color: #494848;

//   @include tablet {
// 	overflow-x: hidden;
// 	overflow-y: visible;
//   }

//   @include pc {
// 	overflow-x: visible;
//   }
  
  @include tablet {
      width: 100%;
      flex-direction: row;
      position: relative;
      // transform: translateY(-32px);
      // padding: 0 0 0 32px;
      align-items: center;
      gap: 20px;
		
    }

    @include pc {
      // padding: 0 165px 0 73px;
    }
  

  &__block-top {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
      flex-direction: row;
      position: relative;
      padding: 0 97px 0 32px;
      align-items: center;
      gap: 26px;
    }

    @include pc {
      padding: 0 165px 0 73px;
    }
  }
  &__block-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      position: relative;
      transform: translateY(-76px);
      padding: 0 267px 0 32px;
      align-items: center;
      justify-content: flex-start;
      gap: 48px;
    }

    @include pc {
      padding: 0 165px 0 73px;
    }
    &__list {
      width: 350px;
    }
    &__text-block {
      width: 163px;
    }
  }

  &__block-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 200px;

    @include tablet {
      // margin-left: auto;
      // margin-right: auto;
      width: 100%;
      max-width: 1024px;
      // display: flex;
      // gap: 46px;
      // margin-left: 97px;
      // // margin-right: auto;
      // justify-content: flex-end;
    }

    @include pc {
      max-width: 1200px;
      width: 100%;
      
    }
  }
  &__block-right {
    display: flex;
    justify-content: flex-end;

    @include tablet {
      // margin-left: auto;
      // margin-right: auto;

      // display: flex;
      // gap: 46px;
      // margin-right: auto;
      // flex-direction: row-reverse;
      // justify-content: flex-start;
    }
    @include pc {
      // padding: 0 267px 0 32px;
    }
  }

  &__foto-top {
    max-width: none;
    margin-left: auto;
    margin-bottom: 28px;
	 

    @include tablet {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      width: 400px;
		// transform: translateY(-32px);
    }
    @include pc {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      width: 460px;
    }
  }
  &__foto-bottom {
    max-width: none;
    margin-left: auto;
    margin-bottom: 28px;

    @include tablet {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      width: 350px;
    }
    @include pc {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      width: 460px;
    }
  }
}

// items-margin
.items {
  width: 230px;
  margin-bottom: 28px;
  text-align: left;
  padding-top: 12px;

  @include tablet {
   max-width: 420px; 
	width: 100%;
    text-align: left;
  }
  @include pc {
    text-align: left;
  }

  &__title {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.086;
    color: $color-text-subtitle;
    &-marg {
      margin-right: -10px;
    }

    @include tablet {
      font-weight: 400;
      text-align: left;
      font-size: 32px;
      line-height: 1.16;
      margin-right: 5px;
    }
  }

  &__text {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-text-primary;

    @include tablet {
      text-align: left;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__text-brown {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-text-secondary;
    width: 100%;
    max-width: 163px;

    @include tablet {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      max-width: 312px;
    }
  }

  &__list {
    margin-top: 12px;
    margin-left: auto;

    @include tablet {
      display: inline-block;
      width: 100%;
    }
  }

  &__list:first-child {
    margin-top: 0;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      width: 100%;
      margin-right: 32px;
    }
  }
}
.slider-temp {
  text-align: center;
  width: 240px;
  height: 317px;
}

.about-kitchen-slick-container {
 width: 540px;
  position: relative;
  left: 69px;

  @include tablet {
    width: 540px;
    left: 481px;
    top: -124px;
  }

  @include pc {
    width: 588px;
	 left: 632px;
    top: -256px;
  }
}

.about-kitchen-slick {
  &__list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }

  &__item {
    margin-right: 25px;

    @include tablet {
      margin-right: 40px;
    }

    @include pc {
      margin-right: 40px;
    }
  }
}

.about-kitchen-slick__list .my-slick-prev,
.about-kitchen-slick__list .my-slick-next {
  position: absolute;
  bottom: -52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @include tablet {
    bottom: -64px;
  }

  @include pc {
    bottom: -68px;
  }
}

.about-kitchen-slick__list .my-slick-prev {
  background-image: url(../images/slider_svg/slider-arrow-black-left.svg);

  right: 290px;

  &:hover,
  &:focus {
    background-image: url(../images/slider_svg/slider-arrow-yellow-left.svg);
  }

  @include tablet {
	top:251px;
    right: 136px;
  }

  @include pc {
    right: 158px;
  }
}

.about-kitchen-slick__list .my-slick-next {
  background-image: url(../images/slider_svg/slider-arrow-black-right.svg);

  right: 230px;

  &:hover,
  &:focus {
    background-image: url(../images/slider_svg/slider-arrow-yellow-right.svg);
  }

  @include tablet {
	top:251px;
    right: 83px;
  }

  @include pc {
    right: 94px;
  }
}
.slider-position {
	
	position: relative;

  @include tablet {
    position: relative;
  }

  @include pc {
    position: relative;
  }
}
.test2{
	background-color: transparent;
	overflow-x: hidden;
	

	@include tablet {
		transform: translateY(-32px);
	 }

	 @include pc {
		height: auto;
	 }
	// overflow-x: hidden;
	
}