.amenities {
    position: relative;
    background-color: $color-background-primary;
    padding-top: 32px;
    padding-bottom: 32px;
    
    @include tablet {
        padding-top: 50px;
        padding-bottom: 200px;
    }

    @include pc {
        padding-top: 49px;
        padding-bottom: 208px;
    }

    &__text {
        @include tablet {
            max-width: 757px;
        }
    }

    &__room {
        padding-top: 32px;
                
            @include tablet {
                padding-top: 50px;
           }
        
            @include pc {
                padding-top: 49px;
            }
    }
    &__room-desctiption {
        padding-bottom: 32px;
    
        @include tablet {
            padding-bottom: 200px;
        }

        @include pc {
            padding-bottom: 208px;
        }
    }
    
    &__room-list {        
        @extend %flex-centred;
        flex-direction: column;
        align-items: flex-start;
    }

    &__room-title {
        font-family: 'Times New Roman';
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-transform: uppercase;        
    }

    &__room-text {
        @include tablet {
            max-width: 400px;
        }
    }

    &__room-box {
        @extend %flex-centred;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 80px;
        }
        
        @include pc {
            gap: 160px;
        }
    }

}

.back-rooms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-text-secondary;

    &__icon {
        fill: currentColor;

        &:hover,
        &:focus {
            color: $color-tertiary;
            fill: $color-tertiary;
        }
    }

    @include tablet {
        font-size: 20px;
        line-height: 1.2;
        position: absolute;
        right: 50px;
        bottom: 40px;
    }

    @include pc {
        right: 200px;
        bottom: 48px;
    }

    &:hover,
    &:focus {
        color: $color-tertiary;
        fill: $color-tertiary;
    }
}