.amenities {
    position: relative;
    background-color: $color-background-primary;
    padding: 32px 0;
    
    @include tablet {
        padding: 32px 32px 200px;
    }

    @include pc {
        padding: 49px 60px 208px;
    }

    &__text {
        @include tablet {
            max-width: 757px;
        }
    }

    
    &__room-list {
        @extend %flex-centred;
        flex-direction: column;
        align-items: flex-start;
    }

    &__room-item {    
        margin-bottom: 32px;
    }

    &__room-title {
        font-family: 'Times New Roman';
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 16px;
        text-transform: uppercase;        
    }

    &__room-text {
        @include tablet {
            max-width: 400px;
        }
    }

    &__room-box {
        @extend %flex-centred;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 80px;
        }
        
        @include pc {
            gap: 160px;
        }
    }

}