.contacts {
  &__section {
    background-color: $color-background-primary;
    padding: 36px 0px 32px 0px;
    @include tablet {
      padding: 56px 0px 40px 0px;
    }
    @include pc {
      padding: 56px 0px 74px 0px;
    }
  }
  &__list {
    display: flex;
    gap: 16px;
    flex-direction: column;

    @include tablet {
      gap: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  &__nav--link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    color: $color-tertiary;
    fill: $color-tertiary;
    @include tablet {
      margin-bottom: 8px;
    }
  }

  &__phone--link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    padding: 8px;
    background-color: $color-primary;
    color: #494848;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color-tertiary;
      transition: $action-duration;
    }
  }

  &__icon {
    fill: $color-text-secondary;
    margin-right: 8px;
  }
  &__header {
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $color-logo-secondary;
    @include tablet {
      font-size: 64px;
      line-height: 1.08;
    }
  }
  &__tittle {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-top: 12px;
    margin-bottom: 16px;
    color: $color-text-primary;
    @include tablet {
      margin-bottom: 35px;
    }
    @include pc {
      font-size: 20px;
    }
  }
  &__map {
    width: 100%;
    height: 220px;
    @include tablet {
      width: 54%;
      height: 412px;
    }
  }
}

// .contacts__map--box {
//   @include tablet {
//     width: 54%;
//     height: none;
//     min-height: 100%;
//   }
// }
.contacts__adress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  border: $nav-frames-border;
  border-radius: 2px;
  background-color: $color-primary;
  &:hover,
  &:focus {
    color: aqua;
  }
}
.contacts__adress--link {
  text-decoration: none;
  text-align: left;
  fill: $color-tertiary;
  padding: 8px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: $color-logo-secondary;
  &:hover,
  &:focus {
    color: $color-tertiary;
    transition: $action-duration;
  }
}
.contacts__content--box {
  display: flex;
  flex-direction: column;
  gap: 33px;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
  }
}
.contacts__border--box {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  border: $nav-frames-border;
  border-radius: 2px;
  background-color: $color-primary;
  color: #494848;
  text-decoration: none;
}
