.details-restaurant {
  display: block;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76)),
    url('../images/homepage/mob/hp-rest-bkg-mob_1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 800px;
 //тимчасово

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url('../images/homepage/mob/hp-rest-bkg-mob_2x.jpg');
  }

  @media screen and (min-width: 1025px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url('../images/homepage/tablet/hp-rest-bkg-tab_1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url('../images/homepage/tablet/hp-rest-bkg-tab_2x.jpg');
    }
  }

  @media screen and (min-width: 1281px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url('../images/homepage/pc/hp-rest-bkg-pc_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url('../images/homepage/pc/hp-rest-bkg-pc_2x.jpg');
    }
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
 
    padding-top: 24px;
    padding-bottom: 40px;
    @include tablet {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
  &__combined-section{
    display: flex;
    flex-direction: column;
  }

  &__information {
    // left: 140px;
    margin-left: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    @include tablet {
      margin-left: 263px;
    }
    @include pc {
      margin-left: 318px;
    }
  }
  &__logo {
    font-size: 40px;
    line-height: 1.08;
    margin-bottom: 12px;
    color: $color-primary;
    @include tablet {
      font-size: 64px;
      margin-bottom: 16px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    color: $color-primary;
    @include tablet {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  &__text {
    max-width: 259px;
    max-height: 62px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
    color: $color-text-tertiary;
    @include tablet {
      max-width: 610px;
      max-height: 44px;
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
  &__combined-section {
    width: 100%;
  @include tablet {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  @include pc {
    gap: 32px;
    // min-width: 0;
  }
}

  &__wrapper-btns {
    width: 236px;
    height: 112px;
    // margin-left: 75px;
    display: flex;
    // margin-bottom: 56px;
    flex-direction: column;
    gap: 16px;
    // @include tablet {
    //   margin-bottom: 32px;
    //   margin-left: 32px
    // }
    // @include pc{
    //   margin-bottom: 60px;
    // }
  }
  &__button {
      width: 236px;
      height: 48px;
      text-decoration: none;
    }  
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


// slider

    &__image {

      width: 274px;
  
      @include tablet {
          width: 270px;
      }
  
    }
}

// SlICK-SlIDER


.details-restaurant-slick {
    
  &__list {
          max-width: 1000px;
          // position: relative;
          margin: 0 auto;
          display: flex;
      }

  &__item {
      margin-right: 20px;

      @include tablet {
          margin-right: 34px;
  }
  // width: 270px;
  //     margin-right: 20px;
  //     @include tablet {
  //         margin-right: 32px;
  //       }
  //     @include pc {
  //         margin-right: 86px;
  }

  &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0;
  }

  
}
.details-restaurant__wrapper-btns {
  gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;



    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      width: 236px;
      position: relative;
      bottom: 152px;
      left: 324px;
    }

    @include pc {
        bottom: 154px;
        left: 436px;
    }
}
.details-restaurant-slider-container {
  display: flex;
  // justify-content: flex-end;
flex-direction: column;
  position: absolute;
  // left: -480px;
  // bottom: 200px;

  // @include tablet {
  //     bottom: 151px;
  //     left: -220px;
  // }

  // @include pc {
  //     bottom: 156px;
  //     left: -35px;
  // }
}


  .details-restaurant-slick__list .my-slick-prev,
.details-restaurant-slick__list .my-slick-next {
  position: absolute;
  bottom: -52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;

    

  @include tablet{
     bottom: -64px;
  }

  @include pc{
      bottom: -68px;
  }
}





.details-restaurant-slick-container{
  width: 868px;
  position: relative;
  

  @include tablet {
      width: 910px;
  }
  
}


.details-restaurant-slick__list .my-slick-prev,
.details-restaurant-slick__list .my-slick-next {
  position: absolute;
  bottom: -42px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @include tablet{
     bottom: -89px;
  }

  @include pc{
      bottom: -68px;
  }
}

.details-restaurant-slick__list .my-slick-next {
background-image: url(../images/slider_svg/slider-arrow-left.svg);

  // right: 89px;
  left: 91px;

  &:hover,
  &:focus{
      background-image: url(../images/slider_svg/slider-arrow-yellow-left.svg);
  }

  // @include tablet {
  //     right: 96px;
  // }

  // @include pc {
  //     right: 100pxpx;
  // }
}

.detailsrestaurantl-slick__list .my-slick-prev {
  background-image: url(../images/slider_svg/slider-arrow-right.svg);

  &:hover,
  &:focus{
      background-image: url(../images/slider_svg/slider-arrow-yellow-right.svg);
  }

  // right: 25px;

  // @include tablet {
  //     right: 40px;
  // }

  // @include pc {
  //     right: 36px;
  // }
}



// .details-hotel {




//   &__container {
//     display: block;

//     margin-right: 139px;

//     @include tablet {
//       // margin-right: 0px;
//       width: 549px;
//       display: flex;
//       flex-direction: column;
//     }

//     @include pc {
//       width: 595px;
//     }
//   }

//   &__titles {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//   }

//   &__button {

//     text-decoration: none;

// transition-property: background-color, color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
//   &:focus {
//     background-color: $color-primary;
//     color: $color-tertiary
//   }
//   }

//   &__buttons {

//     gap: 16px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;



//     @include tablet {
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-end;

//       width: 236px;
//       position: relative;
//       bottom: 152px;
//       left: 324px;
//     }

//     @include pc {
//         bottom: 154px;
//         left: 436px;
//     }
//   }

//   &__wrapper {


//     @Media (max-width: 414px) {
//         overflow: hidden;
//     }

//     position: relative;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     @include tablet {
//       display: flex;
//       align-items: center;
//       padding: 0 48px;  

//       min-height: 620px;
//     }
//     // ТИМЧАСОВО
//     // min-height: 735px;
//     // ТИМЧАСОВО
  // }

  

//   &__swiperf {
//     width: 414px;

//     gap: 20px;
//     transform: translatex(-108%);
//     display: flex;

//     margin-bottom: 16px;

//     @include tablet {
//         width: 1024px;
//     }
//   }

//   &__arrows {
//     border: none;
//     background-color: transparent;
//     fill: white;
//     padding: 0;

//     &:first-child {
//         padding-right: 30px;
//     }
//   }

//   &__controls {

//     margin-bottom: 32px;
    
//     width: 414px;
//     display: flex;
//     justify-content: flex-end;
//   }
// }


.details-restaurant-slider-container {
    display: flex;
    // justify-content: flex-end;
  flex-direction: column;
    position: absolute;
    // left: -480px;
    // bottom: 200px;

    // @include tablet {
    //     bottom: 151px;
    //     left: -220px;
    // }

    // @include pc {
    //     bottom: 156px;
    //     left: -35px;
    // }
 }


    .details-restaurant-slick__list .my-slick-prev,
.details-restaurant-slick__list .my-slick-next {
    position: absolute;
    bottom: -52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: transparent;

      

    @include tablet{
       bottom: -64px;
    }

    @include pc{
        bottom: -68px;
    }
}





.details-restaurant-slick-container{
    width: 868px;
    position: relative;
    

    @include tablet {
        width: 910px;
    }
    
}


.details-restaurant-slick__list .my-slick-prev,
.details-restaurant-slick__list .my-slick-next {
    position: absolute;
    bottom: -42px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    @include tablet{
       bottom: -89px;
    }

    @include pc{
        bottom: -68px;
    }
}

.details-restaurant-slick__list .my-slick-next {
background-image: url(../images/slider_svg/slider-arrow-left.svg);

    // right: 89px;
    left: 91px;

    &:hover,
    &:focus{
        background-image: url(../images/slider_svg/slider-arrow-yellow-left.svg);
    }

    // @include tablet {
    //     right: 96px;
    // }

    // @include pc {
    //     right: 100pxpx;
    // }
}

.detailsrestaurantl-slick__list .my-slick-prev {
    background-image: url(../images/slider_svg/slider-arrow-right.svg);

    &:hover,
    &:focus{
        background-image: url(../images/slider_svg/slider-arrow-yellow-right.svg);
    }

    // right: 25px;

    // @include tablet {
    //     right: 40px;
    // }

    // @include pc {
    //     right: 36px;
    // }
}
