.details-restaurant {
  display: block;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76)),
    url('../images/homepage/mob/hp-rest-bkg-mob_1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url('../images/homepage/mob/hp-rest-bkg-mob_2x.jpg');
  }

  @media screen and (min-width: 1025px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url('../images/homepage/tablet/hp-rest-bkg-tab_1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url('../images/homepage/tablet/hp-rest-bkg-tab_2x.jpg');
    }
  }

  @media screen and (min-width: 1281px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
      url('../images/homepage/pc/hp-rest-bkg-pc_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url('../images/homepage/pc/hp-rest-bkg-pc_2x.jpg');
    }
  }
}
.details-restaurant__container {
  // position: relative;
//   overflow-x: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 24px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}
.details-restaurant__information {
  // left: 140px;
  margin-left: 125px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  @include tablet {
    margin-left: 263px;
  }
  @include pc {
    margin-left: 318px;
  }
}
.details-restaurant__logo {
  font-size: 40px;
  line-height: 1.08;
  margin-bottom: 12px;
  color: $color-primary;
  @include tablet {
    font-size: 64px;
    margin-bottom: 16px;
  }
}
.details-restaurant__title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
  color: $color-primary;
  @include tablet {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.details-restaurant__text {
  max-width: 259px;
  max-height: 62px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
  color: $color-text-tertiary;
  @include tablet {
    max-width: 610px;
    max-height: 44px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}
.details-restaurant__combined-section {
    width: 100%;
  @include tablet {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  @include pc {
    gap: 32px;
  }
}
// .details-restaurant__swiper {
//     position: relative;
// }
.details-restaurant__swiper-wrapper {
  display: flex;
  gap: 19px;
  margin-right: -193px;
  margin-left: 25px;
  margin-bottom: 23.6px;
  @include tablet {
    gap: 34px;
    margin-bottom: 32px;
    margin-right: 0;
    
  }
  @include pc {
    gap: 86px;
  }
}
.details-restaurant__swiper-slide:first-child {
    width: 274px;
    height: 270px;
    @include tablet {
            width: 270px;
            height: 270px;
          }
}
.details-restaurant__swiper-slide:nth-child(2) {
    width: 162px;
    height: 270px;
}
.details-restaurant__swiper-slide:last-child {
    width: 162px;
    height: 270px;
    @include pc {
            width: 270px;
            height: 270px;
          }
}
.details-restaurant__swiper-slide > img {
    object-fit: cover;
}

.details-restaurant__swiper-slide--hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    @media screen and (min-width:500px) {
        display: block;
        visibility: visible;
        opacity: 1;
        pointer-events: painted;
    }
}
.details-restaurant__swiper-slide > picture {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.details-restaurant__swiper-btns {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 0;
  }
}
.swiper-button-wrapper {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-left: 15px;
}
.restaurant-img {
  color: $color-text-secondary;
  display: block;
  background: $color-background-tertiary;
  border-radius: 2px;
}
.details-restaurant__wrapper {
  width: 236px;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include tablet {
    margin-bottom: 48px;
    margin-left: 32px
  }
  @include pc{
    margin-bottom: 60px;
  }
}
.details-restaurant__button {
    width: 236px;
    height: 48px;
    text-decoration: none;
  }  
.combined-buttons {
  width: 100%;
  height: 32px;
}
.details-restaurant__svg {
  fill: $color-primary;
  width: 30px;
  height: 17px;
}
