.hero {
  &__container {
    min-height: 740px;
    padding: 64px 15px 20px 15px;
    text-align: center;
    color: $color-primary;

    @include tablet {
      min-height: 720px;
      padding: 188px 47px 15px 47px;
    }

    @include pc {
      padding: 164px 85px 64px 85px;
    }
  }

  &__logo {
    font-size: 96px;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 16px;
      font-size: 128px;
    }

    @include pc {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;

    @include tablet {
      margin-bottom: 56px;
      font-size: 20px;
      line-height: 1.2;
    }

    @include pc {
      margin-bottom: 64px;
    }

    &--hotel {
      margin-bottom: 178px;

      @include tablet {
        margin-bottom: 218px;
      }

      @include pc {
        margin-bottom: 242px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 113px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    @include tablet {
      margin-bottom: 137px;
      font-size: 36px;
      line-height: 1.14;
    }
  }

  &__address {
    @media screen and (max-width: 1023px) {
      margin-left: auto;
      margin-bottom: 70px;
      color: $address-color;
    }
  }

  &__button {
    margin-bottom: 16px;
    @media screen and (max-width: 1023px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__container--first {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      margin-bottom: 25px;
    }
  }

  &__container--second {
    @media screen and (max-width: 1023px) {
      margin-bottom: 58px;
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 40px;
    }
  }

  &__social {
    display: flex;
    align-items: flex-end;
  }

  &__room {
    margin-bottom: 24px;
    font-family: 'Times New Roman';
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-align: left;

    @include tablet {
      font-size: 36px;
    }
  }

  &__room--top {
    @include tablet {
      padding-top: 466px;
    }
  }
  &__room_discription {
    margin-bottom: 24px;
    display: block;
    max-width: 325px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: left;

    @include tablet {
      font-size: 16px;
    }

    @include pc {
      margin-bottom: 0;
    }
  }

  &__room_social {
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 70px;
    }
  }

  &__room_container {
    position: relative;
    display: flex;
    @media screen and (max-width: 1023px) {
      align-items: center;
    }
    @include tablet {
      justify-content: space-between;
    }

    &--first {
      display: flex;
      align-items: center;
      gap: 40px;

      @include pc {
        display: none;
      }
    }
  }

  &__room_address {
    @media screen and (max-width: 1023px) {
      margin-bottom: 320px;
    }
  }

  &__room_button {
    @include tablet {
      position: absolute;
      right: 0;
      top: -100%;
    }

    @include pc {
      position: absolute;
      right: 0;
      top: -85px;
    }
  }
}

.hero__address.noshow-tablet {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.hero__address.noshow-mobile {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
.hero__social.noshow-desktop {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
