.hero {
  min-height: 740px;
  padding: 64px 0 20px 0;
  text-align: center;
  color: $color-primary;

  @include tablet {
    min-height: 720px;
    padding: 188px 0 15px 0;
  }

  @include pc {
    padding: 164px 0 64px 0;
  }

  &__logo {
    font-size: 96px;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 16px;
      font-size: 128px;
    }

    @include pc {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;

    @include tablet {
      margin-bottom: 56px;
      font-size: 20px;
      line-height: 1.2;
    }

    @include pc {
      margin-bottom: 64px;
    }
  }

  &__subtitle {
    margin-bottom: 113px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    @include tablet {
      margin-bottom: 137px;
      font-size: 36px;
      line-height: 1.14;
    }
  }

  &__address {
    @media screen and (max-width: 1023px) {
      margin-left: auto;
      margin-bottom: 70px;
      color: $address-color;
    }
  }

  &__button {
    margin-bottom: 16px;
    @media screen and (max-width: 1023px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__container--first {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      margin-bottom: 25px;
    }
  }

  &__container--second {
    @media screen and (max-width: 1023px) {
      margin-bottom: 58px;
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 40px;
    }
  }

  &__social {
    display: flex;
    align-items: flex-end;
  }
}

.hero__address.noshow-tablet {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.hero__social.noshow-desktop {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.bg-image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero_images/mobile/hp-hero-mobile_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero_images/mobile/hp-hero-mobile_2x.jpg);
    }
  }
  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_images/tablet/hp-hero-tabl_1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_images/tablet/hp-hero-tabl_2x.jpg);
      }
    }
  }

     @include pc {
       background-image: linear-gradient(to right,
           rgba(0, 0, 0, 0.65),
           rgba(0, 0, 0, 0.65)),
         url(../images/hero_images/pc/hp-hero-pc_1x.jpg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
  
       @media (min-device-pixel-ratio: 2),
       (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
         & {
           background-image: linear-gradient(to right,
               rgba(0, 0, 0, 0.65),
               rgba(0, 0, 0, 0.65)),
             url(../images/hero_images/pc/hp-hero-pc_2x.jpg);
         }
       }
     }
}
