.logo {
    display: block;
        font-family: 'FilmP3', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        color: $color-primary;

        &-footer {
            color: $color-tertiary;
            @include tablet {
                font-size: 64px;
               
              }
        }
}