.section {
  @media (max-width: 1023px) {
    padding: 32px 0;
  }

  padding: 0;
}

.section__container {
  padding: 0 15px 0 15px;

  @include tablet {
    padding: 0 47px 0 47px;
  }

  @include pc {
    padding: 72 85px 0 85px;
  }
}

.section__lux-for-two {
	position: relative;
  	background-color: $color-background-primary;
  	padding-bottom: 32px;

  	@include tablet {
		padding-bottom: 40px;
	}
}

.content {
	@include tablet {
		display: flex;
	}

	&__hotel {
	@include tablet {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 42px;
	}

	@include pc {
		margin-right: 48px;
	}
	}

	&__paragrahp {
		font-size: 20px;
		line-height: 1.15;

		@include tablet {
			font-size: 32px;
			line-height: 1.16;
			margin-bottom: 4px;
		}

		margin-bottom: 8px;
		font-family: 'Times New Roman';
		font-style: normal;
		font-weight: 400;

		color: $color-text-subtitle;
		}

	&__title {
		display: block;
		font-size: 40px;
		line-height: 1.08;

		@include tablet {
			font-size: 64px;
		}

		margin-bottom: 32px;
		font-family: 'FilmP3';
		font-style: normal;
		font-weight: 700;

		letter-spacing: 0.3em;
		text-transform: uppercase;

		color: $color-logo-secondary;

		@include tablet {
			margin-bottom: 72px;
		}
	}

	&__lux-title {
		font-size: 24px;
		line-height: 1.17;
		margin-bottom: 24px;

		font-family: 'Times New Roman';
		font-style: normal;
		font-weight: 700;

		letter-spacing: 0.05em;
		text-transform: uppercase;

		color: $color-secondary;

		@include tablet {
			font-size: 30px;
			line-height: 1.14;
		}

		@include pc {
			font-size: 36px;
			line-height: 1.13;
		}
	}

	&__lux-paragraph {
		width: 258px;
		font-size: 12px;
		line-height: 1.22;
		margin-bottom: 32px;

		@include tablet {
			width: 439px;
			font-size: 16px;
			line-height: 1.25;
			margin-bottom: 188px;
		}

		@include pc {
			width: 400px;
		}

		font-weight: 700;
		letter-spacing: 0.02em;

		color: $color-text-primary;
	}
}

.lux {
  text-transform: lowercase;
}

/*.content__lux-paragraph {
  width: 258px;
  font-size: 12px;
  line-height: 1.22;
  margin-bottom: 32px;

  @include tablet {
    width: 439px;
    font-size: 16px;
    line-height: 1.25;
  }

  @include pc {
    width: 400px;
  }

  font-weight: 700;
  letter-spacing: 0.02em;

  color: $color-text-primary;
}*/

.img_backgroung-lux {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet {
    //margin-top: -33px;
	position: absolute;
	top: -33px;
  }
}

.image-wrapper {
	@media (max-width: 1023px) {
		display: flex;
		justify-content: flex-end;
	}
}

.buttons {
	/*display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;*/

	padding-bottom: 40px;

	@media (max-width: 1023px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
	}

	/*@include tablet {
     margin-top: 89px;
	 margin-bottom: 145px;
    }

	@include tablet {
     margin-top: 103px;
    }*/
}

.button--lux {
  width: 236px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;

  color: $color-tertiary;
  background-color: $color-secondary;

  cursor: pointer;

	&:hover, 
	&:focus {
		background-color: $color-primary;
		color: $color-tertiary;
	}
}

.link-lux {
  margin-bottom: 16px;
  text-decoration: none;
}

.content-slider {
  @include tablet {
    display: flex;
    align-items: center;
	justify-content:space-between;
    //margin-top: 49px;
	//margin-bottom: 72px;
  }
}

.slider-img {
  	margin-top: 32px;
	display: flex;
    //flex-direction: column;
    margin-top: 32px;
    gap: 16px;
  	//margin-bottom: 72px;
	margin-left: -120px;

  @include tablet {
    display: flex;
	flex-direction: row;
	//justify-content: space-between;
    gap: 40px;
    //margin-right: 326px;
    margin-top: 0;
    margin-bottom: 40px;
	margin-left: 0;
  }
}

.slider-lux__img {
	box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.slider-lux {
	position: relative;
}

/*@media (max-width: 1023px) {
  .slider-lux__img:not(:last-child) {
    margin-bottom: 16px;
  }
}*/

.arrow-button {
	margin-left: 310px;
	@media (max-width: 1023px) {
		position: static;
		margin-left: 0;
	}
	/*position: absolute;
	right: -5px;*/
	@include pc {
		margin-left: 430px;
  	}


}

.arrow-button {
	@media (max-width: 1023px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.arrow-lux-button {
	background-color: transparent;
	border: none;
}

.arrow-lux-button:not(:last-child) {
	margin-right: 32px;
}




















/*.about-restaurant-slider-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -185px;
    bottom: 0;
    gap: 40px;
    margin-top: 32px;

    @include tablet {
        position: relative;
        right: -40px;
        bottom: 0;
        margin-top: -28px;
    }

    @include pc {
        position: relative;
        right: -40px;
        bottom: 0;
        margin-top: -107px;
    }
}

.slider__image{
    width: 245px;

    @include tablet {
        margin-top: 0px;
        width: 194px;
    }

    @include pc {
        width: 254px;
    }
}




.about-restaurant-slick-container{
    width: 515px;
    position: relative;
    

    @include tablet {
        width: 428px;
    }
    
    @include pc {
        width: 548px;
    }
}

.about-restaurant-slick {
    
    &__list {
            // width: 254px;
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
        }

    &__item {
        margin-right: 25px;

        @include tablet {
            margin-right: 40px;
        }

        @include pc {
            margin-right: 40px;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0;
    }

    
}*/

/*.lux-for-two-slider-container {
	width: 530px;
}

.lux-for-two-slick__list .my-slick-prev,
.lux-for-two-slick__list .my-slick-next {
    position: absolute;
    bottom: -52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    @include tablet{
       bottom: -64px;
    }

    @include pc{
        bottom: -68px;
    }
}

.lux-for-two-slick__list .my-slick-prev {
background-image: url(../images/slider_svg/slider-arrow-black-left.svg);

    right: 267px;

    @include tablet {
        right: 126px;
    }

    @include pc {
        right: 158px;
    }
}

.lux-for-two-slick__list .my-slick-next {
    background-image: url(../images/slider_svg/slider-arrow-black-right.svg);

    right: 203px;

    @include tablet {
        right: 63px;
    }

    @include pc {
        right: 94px;
    }
}*/