.section {
  @media (max-width: 1023px) {
    padding: 32px 0;
  }

  padding: 0;
}

.section__container {
  padding: 0 15px 0 15px;

  @include tablet {
    padding: 64px 47px 0 47px;
  }

  @include pc {
    padding: 72 85px 0 85px;
  }
}

.section__lux-for-two {
	position: relative;
  	background-color: $color-background-primary;
  	padding-bottom: 32px;

  	@include tablet {
		padding-bottom: 140px;
	}
}

.content {
	@include tablet {
		display: flex;
	}

	&__hotel {
	@include tablet {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 42px;
	}

	@include pc {
		margin-right: 48px;
	}
	}

	&__paragrahp {
		font-size: 20px;
		line-height: 1.15;

		@include tablet {
			font-size: 32px;
			line-height: 1.16;
			margin-bottom: 4px;
		}

		margin-bottom: 8px;
		font-family: 'Times New Roman';
		font-style: normal;
		font-weight: 400;

		color: $color-text-subtitle;
		}

	&__title {
		display: block;
		font-size: 40px;
		line-height: 1.08;

		@include tablet {
			font-size: 64px;
		}

		margin-bottom: 32px;
		font-family: 'FilmP3';
		font-style: normal;
		font-weight: 700;

		letter-spacing: 0.3em;
		text-transform: uppercase;

		color: $color-logo-secondary;

		@include tablet {
			margin-bottom: 72px;
		}
	}

	&__lux-title {
		font-size: 24px;
		line-height: 1.17;
		margin-bottom: 24px;

		font-family: 'Times New Roman';
		font-style: normal;
		font-weight: 700;

		letter-spacing: 0.05em;
		text-transform: uppercase;

		color: $color-secondary;

		@include tablet {
			font-size: 30px;
			line-height: 1.14;
		}

		@include pc {
			font-size: 36px;
			line-height: 1.13;
		}
	}

	&__lux-paragraph {
		width: 258px;
		font-size: 12px;
		line-height: 1.22;
		margin-bottom: 32px;

		@include tablet {
			width: 439px;
			font-size: 16px;
			line-height: 1.25;
			margin-bottom: 188px;
		}

		@include pc {
			width: 400px;
		}

		font-weight: 700;
		letter-spacing: 0.02em;

		color: $color-text-primary;
	}
}

.lux {
  text-transform: lowercase;
}

/*.content__lux-paragraph {
  width: 258px;
  font-size: 12px;
  line-height: 1.22;
  margin-bottom: 32px;

  @include tablet {
    width: 439px;
    font-size: 16px;
    line-height: 1.25;
  }

  @include pc {
    width: 400px;
  }

  font-weight: 700;
  letter-spacing: 0.02em;

  color: $color-text-primary;
}*/

.img_backgroung-lux {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet {
    //margin-top: -33px;
	position: absolute;
	top: -33px;
  }
}

.image-wrapper {
	@media (max-width: 1023px) {
		display: flex;
		justify-content: flex-end;
	}
}

.buttons {
	/*display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;*/

	padding-bottom: 40px;
	position: relative;
    left: 35px;

	@media (max-width: 1023px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
		left: 125px;
	}

	/*@include tablet {
     margin-top: 89px;
	 margin-bottom: 145px;
    }

	@include tablet {
     margin-top: 103px;
    }*/
}

.button--lux {
  width: 236px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;

  color: $color-tertiary;
  background-color: $color-secondary;

  cursor: pointer;

	&:hover, 
	&:focus {
		background-color: $color-primary;
		color: $color-tertiary;
	}
}

.link-lux {
  margin-bottom: 16px;
  text-decoration: none;
}

.content-slider {
  @include tablet {
    display: flex;
    align-items: center;
	justify-content:space-between;
    //margin-top: 49px;
	//margin-bottom: 72px;
  }
}

.slider-img {
  	margin-top: 32px;
	display: flex;
    //flex-direction: column;
    margin-top: 32px;
    gap: 16px;
  	//margin-bottom: 72px;
	margin-left: -120px;

  @include tablet {
    display: flex;
	flex-direction: row;
	//justify-content: space-between;
    gap: 40px;
    //margin-right: 326px;
    margin-top: 0;
    margin-bottom: 40px;
	margin-left: 0;
  }
}

.slider-lux__img {
	box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

.slider-lux {
	position: relative;
}

/*@media (max-width: 1023px) {
  .slider-lux__img:not(:last-child) {
    margin-bottom: 16px;
  }
}*/

.arrow-button {
	margin-left: 310px;
	@media (max-width: 1023px) {
		position: static;
		margin-left: 0;
	}
	/*position: absolute;
	right: -5px;*/
	@include pc {
		margin-left: 430px;
  	}


}

.arrow-button {
	@media (max-width: 1023px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.arrow-lux-button {
	background-color: transparent;
	border: none;
}

.arrow-lux-button:not(:last-child) {
	margin-right: 32px;
}












/*.lux-for-two-slider-container {
        display: flex;
        padding-left: 0;
        justify-content: flex-start;
        position: absolute;
        top: 640px;
        left: -120px; // відступ за межі контейнера вліво для мобілки
    
        @include tablet {
            top: 540px;
            left: 7px;
        }
    
        @include pc {
            top: 590px;
            left: 65px;
        }
    }*/

	.lux-for-two-slider-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 45px;

		@media (max-width: 1023px) {
			left: -120px;
			display: block;
		}

		@include tablet {
            left: -30px;
        }
	}
    
    .slider__image {
        max-width: 194px;
    
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    
        @include pc {
            max-width: 254px;
        }
    }
    
    
    
    .lux-for-two-slick-container {
        
        max-width: 420px; // вирішує висоту і відступ між слайдами 0_о. В моєму випадку 420w робить висоту 194 (яка мені потрібна)
    
        position: relative;
    
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        
        margin: 0 -16px; // !!!

		margin-bottom: 72px;

        @include tablet {
            max-width: 473px;
			margin-bottom: 0;
        }
    
        @include pc {
            max-width: 590px;
        }
    }
    
    .lux-for-two-slick {
        overflow: hidden;
        margin: 0 auto;

        &__list {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;

            // padding-left: -16px;
            // padding-right: -16px;
        }

        // &__slide {
        //     margin: 0 16px;
        // }
    
        &__item {
            margin: 0 16px; // !!!
    
            @include tablet {
                margin: 0 40px;
            }
    
            // @include pc {
            //     margin-left: 40px;
            // }
        }
    
        &__box {
            // width: 194px;
            // margin-left: 8px;
            // margin-right: 8px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // margin: 0 0;
        }
       
    }
    
    .lux-for-two-slick__list .my-slick-prev,
    .lux-for-two-slick__list .my-slick-next {
        position: absolute;
        bottom: -52px; //32 висота іконки + 20 відступ від слайдера знизу до іконки
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 32px;
        height: 32px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    
    
    
        @include tablet {
            bottom: -64px;
        }
    
        @include pc {
            bottom: -68px;
        }
    }
    
    .lux-for-two-slick__list .my-slick-prev {
        background-image: url(../images/slider_svg/slider-arrow-black-left.svg);
        left: 150px; // відступ -120 за межі контейнера + 15 позиція на сторінці
    
        &:hover,
            &:focus {
                background-image: url(../images/slider_svg/slider-arrow-yellow-left.svg);
            }
        
        @include tablet {
            left: 370px;
        }
    
        @include pc {
            left: 490px;
        }
    }
    
    .lux-for-two-slick__list .my-slick-next {
        background-image: url(../images/slider_svg/slider-arrow-black-right.svg);
            left: 215px; // відступ -120 за межі контейнера + 80 позиція на сторінці
        
    &:hover,
    &:focus {
        background-image: url(../images/slider_svg/slider-arrow-yellow-right.svg);
    }

            @include tablet {
                left: 434px;
            }
        
            @include pc {
                left: 555px;
            }
        }
.draggable {
    height: 194px;

    @include pc {
    height: 254px;        
}
    
}
        // Спроби зробити фіксовані відступи між слайдами 


// .slider_wrap * {
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
// }

// .slick-slide {
//     margin: 0 10px;
// }

// .slider-item img {
//     max-width: 100%;
// }

.slick-track {
max-height: 194px;
}
















/*.lux-for-two-slider-container {
        display: flex;
        padding-left: 0;
        justify-content: flex-start;
        position: absolute;
        top: 640px;
        left: -120px; // відступ за межі контейнера вліво для мобілки
    
        @include tablet {
            top: 540px;
            left: 7px;
        }
    
        @include pc {
            top: 590px;
            left: 65px;
        }
    }
    
    .slider__image {
        max-width: 194px;
    
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    
        @include pc {
            max-width: 254px;
        }
    }
    
    
    
    .lux-for-two-slick-container {
        
        max-width: 420px; // вирішує висоту і відступ між слайдами 0_о. В моєму випадку 420w робить висоту 194 (яка мені потрібна)
    
        position: absolute;
    
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        
        margin: 0 -16px; // !!!

        @include tablet {
            max-width: 473px;
        }
    
        @include pc {
            max-width: 590px;
        }
    }
    
    .lux-for-two-slick {
        overflow: hidden;
        margin: 0 auto;

        &__list {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;

            // padding-left: -16px;
            // padding-right: -16px;
        }

        // &__slide {
        //     margin: 0 16px;
        // }
    
        &__item {
            margin: 0 16px; // !!!
    
            @include tablet {
                margin: 0 40px;
            }
    
            // @include pc {
            //     margin-left: 40px;
            // }
        }
    
        &__box {
            // width: 194px;
            // margin-left: 8px;
            // margin-right: 8px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // margin: 0 0;
        }
       
    }
    
    .lux-for-two-slick__list .my-slick-prev,
    .lux-for-two-slick__list .my-slick-next {
        position: absolute;
        bottom: -52px; //32 висота іконки + 20 відступ від слайдера знизу до іконки
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 32px;
        height: 32px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    
    
    
        @include tablet {
            bottom: -64px;
        }
    
        @include pc {
            bottom: -68px;
        }
    }
    
    .lux-for-two-slick__list .my-slick-prev {
        background-image: url(../images/slider_svg/slider-arrow-black-left.svg);
        left: 150px; // відступ -120 за межі контейнера + 15 позиція на сторінці
    
        &:hover,
            &:focus {
                background-image: url(../images/slider_svg/slider-arrow-yellow-left.svg);
            }
        
        @include tablet {
            left: 370px;
        }
    
        @include pc {
            left: 490px;
        }
    }
    
    .lux-for-two-slick__list .my-slick-next {
        background-image: url(../images/slider_svg/slider-arrow-black-right.svg);
            left: 215px; // відступ -120 за межі контейнера + 80 позиція на сторінці
        
    &:hover,
    &:focus {
        background-image: url(../images/slider_svg/slider-arrow-yellow-right.svg);
    }

            @include tablet {
                left: 434px;
            }
        
            @include pc {
                left: 555px;
            }
        }
.draggable {
    height: 194px;

    @include pc {
    height: 254px;        
}
    
}
        // Спроби зробити фіксовані відступи між слайдами 


// .slider_wrap * {
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
// }

// .slick-slide {
//     margin: 0 10px;
// }

// .slider-item img {
//     max-width: 100%;
// }

.slick-track {
max-height: 194px;
} */