.footer {
  background-color: $color-background-footer;
  color: $color-main-header-footer;

  justify-content: space-between;
  padding: 40px 0;
  align-items: center;

  //   @include tablet {
  //     // padding: 80px 122px 80px 154px;
  //   }

  //   @include pc {
  //     // padding: 80px 186px 80px 216px;
  //   }

  &__container {
    display: flex;
    @include pc {
      padding-right: 85px;
      padding-left: 85px;
    }
  }

  &__logo {
    font-size: 36px;

    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: -0.3em;
    @include tablet {
      font-size: 64px;
      margin-top: 80px;

      margin-left: 140px;
    }
    @include pc {
      margin-bottom: 35px;
      margin-left: 130px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  &__item {
    margin-bottom: 16px;
    font-family: sans-serif;
  }

  &__social {
    display: flex;

    margin-top: 17px;

    @include tablet {
      margin-top: 0;
      display: block;
    }

    &--link {

       

        &:hover,
        &:focus {
          color: $color-tertiary;
          fill: $color-tertiary;
          border-color: $color-tertiary;
        }
        @include tablet {
            padding: 10px 12px;
            border: 0.5px solid $color-main-header-footer;
        border-radius: 2px;
          }
    }

    &__link {
      padding: 10px 12px;
      color: $color-main-header-footer;
      fill: $color-main-header-footer;
   
     
      
    }

    &--item {
      // background-color: tomato;
      // width: 20px;
      // height: 20px;

      

      &:not(:last-child) {
        margin-right: 23px;
      }

      @include tablet {
        

        // padding: 10px 12px;

        width: 144px;

        &:not(:last-child) {
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include tablet {
      flex-direction: row;
      margin-top: 40px;

      margin-right: 163px;
      margin-left: 163px;
    }
    @include pc {
      margin-right: 231px;
      margin-left: 230px;
    }
  }

  &__list {
    @include tablet {
      margin-right: 140px;
    }
    @include pc {
      margin-right: 200px;
    }
  }
}

.sm-text {
  display: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  @include tablet {
    display: block;
  }
}

.sm-footer-svg {
  fill: currentColor;
}

.footer__social--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// outline: solid 2px tomato;
