.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  border: transparent;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 15px 0 15px;

    @include tablet {
      padding: 24px 47px 0 47px;
    }

    @include pc {
      padding: 24px 85px 0 85px;
      justify-content: space-around;
    }
  }

  &__logo {
    @media screen and (max-width: 1279px) {
      margin-right: auto;
    }
    font-size: 36px;
    line-height: 1.08;
    color: $color-primary;
  }

  &__list {
    display: flex;
    gap: 20px;

    @include tablet {
      gap: 72px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    @include tablet {
      gap: 32px;
    }
  }

  &__link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $color-tertiary;
    fill: $color-tertiary;

    @include tablet {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__phone {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border: $nav-frames-border;
      border-radius: 2px;
      // margin-left: 46px;
    }
  }

  &__contact {
    @media screen and (max-width: 1023px) {
      display: none;
    }
    font-size: 14px;
    line-height: 1.214;
    color: $color-primary;
  }
}
.social.header__social {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
