.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  border: transparent;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 9px;

    @include tablet {
      padding-top: 24px;
      padding-bottom: 30px;
    }

    @include pc {
      justify-content: space-around;
    }
  }

  &__logo {
    @extend %cubic;
    @media screen and (max-width: 1279px) {
      margin-right: auto;
    }
    font-size: 36px;
    line-height: 1.08;
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-tertiary;
    }
  }

  &__list {
    display: flex;

    @include tablet {
      gap: 72px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    @media screen and (min-width: 414px) and (max-width: 1023px) {
      margin-right: 20px;
    }
    @include tablet {
      gap: 32px;
    }
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-main-header-footer;
    fill: $color-main-header-footer;
    @extend %cubic;

    &:hover,
    &:focus {
      color: $color-tertiary;
      fill: $color-tertiary;
    }

    @include tablet {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__phone {
    @extend %cubic;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border: $nav-frames-border;
      border-radius: 2px;
    }

    &:hover,
    &:focus {
      border: 1px solid $color-tertiary;
    }
  }

  &__contact {
    @extend %cubic;
    @media screen and (max-width: 1023px) {
      display: none;
    }
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-tertiary;
    }
  }
}
.social.header__social {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
