.modal-menu {
  padding-bottom: 60px;
  padding-top: 60px;
}

.modal-menu__title {
  @extend %modal-text;

  color: $color-secondary;

  text-transform: uppercase;

  text-align: center;

  margin-bottom: 40px;
  margin-top: 0;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 46px;
  }
}

.modal-discription {
  @include tablet {
    padding-left: 60px;
  }
}

.modal-menu__title-second {
  @extend %modal-text;

  color: #808080;

  margin: 0;
  margin-bottom: 28px;
}

.modal-menu__input {
  @extend %modal-text;

  color: #808080;

  width: 100%;
  height: 54px;

  border: 1px solid $color-text-secondary;
  border-radius: 2px;

  background: $color-background-primary;

  padding-left: 12px;
  cursor: pointer;
  position: relative;

  &:focus {
    outline: 1px solid $color-text-secondary;
  }

  @include mobile {
    width: 384px;
    height: 54px;
  }

  @include tablet {
    width: 288px;
    height: 64px;
  }
}

.input-date::after {
  content: '';
  display: block;
  position: absolute;

  height: 16px;
  width: 16px;

  border-bottom: 3.5px solid $color-text-secondary;
  border-right: 3.5px solid $color-text-secondary;

  border-radius: 2px;
  top: 45%;

  margin-right: 25px;

  margin-top: -4px;
  pointer-events: none;

  right: 12px;

  transform: rotate(45deg);
}

.input-date::before {
  content: attr(placeholder);
  width: 100%;
}
.input-date:focus::before,
.input-date:valid::before {
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  width: 40%;
}

.modal-menu__text {
  font-family: 'Montserrat';
  font-weight: 500;

  color: $color-text-secondary;

  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.02em;

  margin: 0;
  padding: 0;

  padding-left: 12px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 28px;
  }
}

.modal-menu__submit {
  font-family: 'Montserrat';
  font-weight: 500;

  color: $color-primary;
  background: $color-secondary;

  font-size: 20px;
  line-height: 1.2;

  border: 1px solid $color-tertiary;
  border-radius: 2px;

  display: block;

  margin: 0 auto;
  padding: 20px 43px 20px 43px;
  margin-top: 40px;

  cursor: pointer;
  @extend %cubic;

  &:hover {
    color: $color-secondary;
    background-color: $color-tertiary;
  }

  @media screen and (max-width: 413px) {
    width: 100%;
  }

  @include mobile {
    padding: 20px 43px 20px 43px;
  }

  @include tablet {
    font-size: 24px;
    line-height: 1.2;

    padding: 18px 117px 18px 117px;
  }
}

.modal-menu-price__submit {
  padding: 24px 64px 24px 64px;

  @include tablet {
    padding: 18px 142px 18px 142px;
  }
}

//стилізуємо селект
.nice-select {
  @extend %modal-text;

  color: #808080;

  padding-left: 12px;
  padding-top: 16px;

  border: 1px solid $color-text-secondary;
  border-radius: 2px;

  background: $color-background-primary;
  outline: $color-text-secondary;

  width: 100%;
  height: 54px;

  @include mobile {
    width: 384px;
  }

  @include tablet {
    width: 288px;
    height: 64px;

    padding-top: 18px;
  }

  &-dropdown {
    width: 100%;
  }

  &:active,
  &:focus {
    outline: 1px solid $color-text-secondary;
  }
}

.nice-select:after {
  height: 16px;
  width: 16px;

  border-bottom: 3.7px solid $color-text-secondary;
  border-right: 3.7px solid $color-text-secondary;

  border-radius: 2px;
  top: 45%;

  margin-right: 25px;
}

// приховуємо тег селекту
select.js-select {
  @extend .visually-hidden;
}

.modal-margin-reset {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }
}

.modal-padding-reset {
  padding: 0;
}

.modal-mobil-reset-margen {
  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }
}
